﻿@model SMSUI.ViewModels.AddressInformationViewModel
<div id="addressModal" class="form-modal">
    <div class="modal-header">
        <h5 class="modal-title">Address</h5>
    </div>
    @using (Ajax.BeginForm("SaveAddress", "Modals", new AjaxOptions { UpdateTargetId = "addressPluginId", InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.AddressViewModel.AddressId)
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressViewModel.Country, "Country :", new { @class = "col-sm-1  control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.Country, new { @class = "form-control", @id = "addresstxtCountry", @autofocus = "true", @style = "text-align: left" })
                    </div>
                    @Html.LabelFor(model => model.AddressViewModel.City, "City :", new { @class = "col-sm-1  control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.City, new { @class = "form-control", @id = "addresstxtCity", @autofocus = "true", @style = "text-align: left" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressViewModel.SubCity, "Sub-City :", new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.SubCity, new { @class = "form-control", @id = "addresstxtSubCity", @autofocus = "true", @style = "text-align: left;" })
                    </div>
                    @Html.LabelFor(model => model.AddressViewModel.Kebele, "Kebele :", new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.Kebele, new { @class = "form-control", @id = "addresstxtKebele", @autofocus = "true", @style = "text-align: left;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressViewModel.StreetName, "Street Name :", new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.StreetName, new { @class = "form-control", @id = "addresstxtStreetName", @autofocus = "true", @style = "text-align: left;" })
                    </div>
                    @Html.LabelFor(model => model.AddressViewModel.Email, "Email :", new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.Email, new { @class = "form-control", @id = "addresstxtEmail", @autofocus = "true", @style = "text-align: left;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressViewModel.IsActive, "Status :", new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.AddressViewModel.IsActive, new { @class = "form-control", @id = "addresstxtIsActive", @autofocus = "true", @style = "text-align: left;" })
                    </div>
                    @Html.LabelFor(model => model.AddressViewModel.AddressTypeViewModel, "Address Type", new { @class = "col-sm-1 control-label", @id = "ComboAddressType", @autofocus = "true" })
                    <div class="col-sm-5">
                        <select class="form-control">
                            @foreach (var addressType in @Model.AddressTypeViewModels)
                            {
                                <option>@addressType.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer centered">
            <input class="save-btn" type="submit" value="Save" />
            <button class="cancel-btn popup-modal-dismiss" type="button">Cancel</button>
        </div>
    }
</div>