﻿@model SMSUI.ViewModels.SchoolSetting.GradeLevelViewModel
<div id="academicYearModal" class="form-modal">
    <div class="modal-header">
        <h5 class="modal-title">Grade Level</h5>
    </div>
    @using (Ajax.BeginForm("SaveGradeLevel", "Modals", null))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.GradeLevelId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtGradeLevelName", @autofocus = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfClass, "No of Classes :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.NumberOfClass, new { @class = "form-control", @id = "txtGradeLevelNoOfClasses", @autofocus = "true" })
                    </div>
                    @Html.LabelFor(model => model.ClassesString, "", new { @class = "control-label col-sm-4" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, "Active :", new { @class = "control-label col-sm-3" })
                    @Html.CheckBoxFor(model => model.IsActive)
                </div>
            </div>
        </div>
        <div class="modal-footer centered">
            <input class="save-btn" type="submit" value="Save" />
            <button class="cancel-btn popup-modal-dismiss" type="button">Cancel</button>
        </div>
    }
</div>
