﻿@model SMSUI.ViewModels.SchoolSetting.SubjectInfoViewModel
           
<div id="academicYearModal" class="form-modal">
    <div class="modal-header">
        <h5 class="modal-title">Subject</h5>
    </div>
    @using (Ajax.BeginForm("SaveSubject", "Modals", null))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.SubjectViewModel.SubjectId)
                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectViewModel.Name, "Name :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.SubjectViewModel.Name, new { @class = "form-control", @id = "txtSubjectName", @autofocus = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectViewModel.SubjectTypeViewModel.SubjectTypeId, "Subject Type:", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        <select class="form-control">
                            @foreach (var subjectType in @Model.SubjectTypes)
                            {
                                <option>@subjectType.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SubjectViewModel.IsActive, "Active :", new { @class = "control-label col-sm-3" })
                    @Html.CheckBoxFor(model => model.SubjectViewModel.IsActive)
                </div>
            </div>
        </div>
        <div class="modal-footer centered">
            <input class="save-btn" type="submit" value="Save" />
            <button class="cancel-btn popup-modal-dismiss" type="button">Cancel</button>
        </div>
    }
</div>

