﻿@model SMSUI.ViewModels.TermViewModel
<div id="academicYearModal" class="form-modal">
    <div class="modal-header">
        <h5 class="modal-title">Term</h5>
    </div>
    @using (Ajax.BeginForm("SaveTerm", "Modals", null))
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.TermId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtTermName", @autofocus = "true" })
                    </div>
               </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, "Start Date :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @id = "txtTermStartDate", @autofocus = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, "End Date :", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @id = "txtTermEndDate", @autofocus = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, "Active :", new { @class = "control-label col-sm-3" })
                    @Html.CheckBoxFor(model => model.IsActive)
                    </div>
            </div>
        </div>
        <div class="modal-footer centered">
            <input class="save-btn" type="submit" value="Save" />
            <button class="cancel-btn popup-modal-dismiss" type="button">Cancel</button>
        </div>
    }
</div>