﻿@model  SMSUI.ViewModels.SchoolSetting.AcademicYearInformationViewModel

<hr />
<h6 style="font-style: inherit; font-family: 'Calibri Light'; text-align: left;">Acadamic Year Information : <br /><br /></h6>
<!--Fiscal Years-->
<section class="task-panel tasks-widget">
    <div class="panel-heading">
        <div class="pull-left"><h5><i class="fa fa-tasks"></i>  All Academic Year</h5></div>
        <br>
    </div>
    <div class="panel-body">
        <div class="task-content">
            <ul class="task-list">
                @foreach (var year in @Model.AcademicYearViewModels)
                {
                    <li task-title>
                            <span class="task-title-sp">@year.Name </span>
                            @if (@year.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Disabled</span>
                            }

                        <div class="pull-right hidden-phone">
                            <a href=@Url.Action("_AcademicYearModal", "Modals",new {academicYearID = @year.AcademicYearId}) class="open-form-modal"><span class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></span></a>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div>
            <a href=@Url.Action("_AcademicYearModal", "Modals") class="open-form-modal"><i class="li_tag"></i> Add New Year</a>
        </div>
    </div>
</section>

<!--LINE BREAK Yido-->
<div class="col-md-12">
    <br />
    <hr /><h6 style="font-style: inherit; font-family: 'Calibri Light'; text-align: left;">All Terms in @Model.CurrentAcademicYearViewModel.Name : <br /><br /></h6>
</div>
<!--Active Terms-->
<div class="form-group">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Term</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Consumed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ var count = 0;}

            @foreach (var term in @Model.TermViewModels)
            {
                count += 1;
                <tr>
                    <td>@count.</td>
                    <td>@term.Name</td>
                    <td>@term.StartDate.ToShortDateString()</td>
                    <td>@term.EndDate.ToShortDateString()</td>
                    <td>
                        <div title= @term.Consumed class="progress">
                            @{

                                if (@term.Consumed == 100)
                                {
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                }
                                else if (@term.Consumed == 0)
                                {
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                }
                                else
                                {
                                    <div class="progress-bar progress-bar-primary" style="width: @term.Consumed%"></div>
                                }
                            }

                        </div>
                    </td>
                    <td>
                        <div class="pull-right hidden-phone">
                            <a href=@Url.Action("_TermModal", "Modals", new {termID = term.TermId}) class="open-form-modal"><span class="btn btn-primary btn-xs"><i title="Edit" class="fa fa-pencil"></i></span></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div>
        <a href=@Url.Action("_TermModal", "Modals") class="open-form-modal"><i class="li_tag"></i> Add New Term</a>
    </div>
</div>
