﻿@using SMSUI.ViewModels
@model AddressInformationViewModel

<link href="~/Content/css/style.css" rel="stylesheet">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title" style="align-content: center;" id="smsAddressModalLabel">Add new Address</h5>
</div>


@using (Ajax.BeginForm("_AddressPartialViewPost", "School",new{@targetdivId =ViewBag.targetdivId}, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }, new { @targetdivId =ViewBag.targetdivId }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AddressViewModel.AddressId)

           
            <div class="form-group">
                <!--Country-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.Country, "Country :", new { @class = "col-sm-1  control-label"})
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.Country, new { @class = "form-control", @id = "addresstxtCountry", @autofocus = "true", @style = "text-align: left" })
                </div>
                <!--City-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.City, "City :", new { @class = "col-sm-1  control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.City, new { @class = "form-control", @id = "addresstxtCity", @autofocus = "true", @style = "text-align: left" })
                </div>
            </div>
         
            <div class="form-group">
                <!--SubCity-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.SubCity, "Sub-City :", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.SubCity, new { @class = "form-control", @id = "addresstxtSubCity", @autofocus = "true", @style = "text-align: left;" })
                </div>
                <!--Kebele-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.Kebele, "Kebele :", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.Kebele, new { @class = "form-control", @id = "addresstxtKebele", @autofocus = "true", @style = "text-align: left;" })
                </div>
            </div>
         
            <div class="form-group">
                <!--StreetName-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.StreetName, "Street Name :", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.StreetName, new { @class = "form-control", @id = "addresstxtStreetName", @autofocus = "true", @style = "text-align: left;" })
                </div>
                <!--Email-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.Email, "Email :", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.Email, new { @class = "form-control", @id = "addresstxtEmail", @autofocus = "true", @style = "text-align: left;" })
                </div>
            </div>
         
            <div class="form-group">
                <!--IsActive-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.IsActive, "Status :", new { @class = "col-sm-1 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.AddressViewModel.IsActive, new { @class = "form-control", @id = "addresstxtIsActive", @autofocus = "true", @style = "text-align: left;" })
                </div>
                <!--Address Type-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.AddressViewModel.AddressTypeViewModel, "Address Type", new { @class = "col-sm-1 control-label", @id = "ComboAddressType", @autofocus = "true" })
                <div class="col-sm-5">
                    <select class="form-control">
                        @foreach (var addressType in  @Model.AddressTypeViewModels)
                        {
                            <option>@addressType.Name</option>
                        }
                    </select>
                </div>

            </div>
          

        </div>
    </div>

    <div class="modal-footer centered">
        <input class="btn btn-theme03" type="submit" value="Save"  />
        <button class="btn btn-theme04" type="button" data-dismiss="modal">Cancel</button>
    </div>

}
