﻿@using SMSUI.ViewModels
@using SMSUI.ViewModels.SchoolSetting
@model SMSUI.ViewModels.SchoolSetting.SchoolInformationViewModel

<!--School General Info-->
<hr />
<h6>School General Info:<br /></h6>
<div class="row">
    <div class="col-sm-7">
        <div class="form-group">
            @Html.LabelFor(model => model.SchoolName, "School Name :", new { @class = "col-sm-4 control-label", @name = "lblschoolname", @autofocus = "true" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.SchoolName, new { @class = "form-control", @id = "txtschoolname", @name = "SchoolName", @placeholder = "SchoolName", @autofocus = "true", @onkeyup = "validateFields('txtschoolname','School Name')" })
            </div>
        </div>
        <div class="form-group">
            <!--School Description-->
            @Html.LabelFor(model => model.Description, "Description :", new { @class = "col-sm-4 control-label", @name = "lblSchoolDescription" })
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control textarea", @rows = 4, @id = "txtSchoolDescription", @name = "Description", @placeholder = "Description", @onkeyup = "validateFields('txtSchoolDescription','School Description')" })
            </div>
        </div>
        @*School EstablishmentDate
            @Html.LabelFor(model => model.EstablishmentDate, "Established Date:", new { @class = "col-sm-4 control-label", @name = "lblSchoolEstablishementDate" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EstablishmentDate, new { @class = "form-control", @id = "txtSchoolEstablishmentDate", @name = "EstablishmentDate", @placeholder = "EstablishmentDate", @onkeyup = "validateFields('txtSchoolEstablishmentDate','School Establishment Date')" })
            </div>*@
       

        <div class="form-group">
            <label for="dtp_EstablishmentDate" class="col-sm-4 control-label">Date Picking</label>
            <div id="form_date" style="width: 411px;padding-left: 16px;" class=" input-group date col-sm-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_EstablishmentDate" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value=@Model.EstablishmentDate readonly="" style="margin-bottom: 0;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="dtp_EstablishmentDate" value=@Model.EstablishmentDate /><br />
        </div>
        <div class="form-group">
            <!--School Type-->
            @Html.LabelFor(model => model.SchoolTypeID, "School Type:", new { @class = "col-sm-4 control-label", @name = "lblShoolType" })
            <div class="col-sm-8">
                <select class="form-control" id="cboSchoolType">
                    @foreach (SchoolTypeViewModel schoolType in Model.SchoolTypeViewModels)
                    {
                        if (Model.SchoolTypeID == schoolType.SchoolTypeId)
                        {
                            <option selected value=@schoolType.SchoolTypeId>@schoolType.Name</option>
                        }
                        else
                        {
                            <option value=@schoolType.SchoolTypeId>@schoolType.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <!--OwnerShip Type-->
            @Html.LabelFor(model => model.OwnerShipTypeID, "Ownership Type:", new { @class = "col-sm-4 control-label", @id = "lblSchoolOwnershipType" })
            <div class="col-sm-8">
                <select class="form-control" id="cboOwnershipType">
                    @foreach (OwnerShipTypeViewModel ownerShipType in Model.OwnerShipTypeViewModels)
                    {
                        if (Model.OwnerShipTypeID == ownerShipType.OwnerShipTypeId)
                        {
                            <option selected value=@ownerShipType.OwnerShipTypeId>@ownerShipType.Name</option>
                        }
                        else
                        {
                            <option value=@ownerShipType.OwnerShipTypeId>@ownerShipType.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <!--Calendar Type-->
            @Html.LabelFor(model => model.CalenderTypeID, "Calendar Type:", new { @class = "col-sm-4 control-label", @id = "lblCalendatrType" })
            <div class="col-sm-8">
                <select class="form-control" id="cboCalendarType">
                    @foreach (CalenderTypeViewModel calenderType in Model.CalenderTypeViewModels)
                    {
                        if (Model.CalenderTypeID == calenderType.CalenderTypeId)
                        {
                            <option selected value=@calenderType.CalenderTypeId>@calenderType.Name</option>
                        }
                        else
                        {
                            <option value=@calenderType.CalenderTypeId>@calenderType.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="col-sm-5 picture-container">
        <br /><br /><br />
        <div class="picture">
            <img src="~/Content/img/ui-sam.jpg" class="picture-src" id="wizardPicturePreview" title="" />
            <input type="file" id="wizard-picture">
        </div>
        <h6>Upload School Logo</h6>
    </div>
</div>

                            <!--LINE BREAK Yido-->
<div class="col-md-12">
    <br />
    <hr /><h6 style="font-style: inherit; font-family: 'Calibri Light'; text-align: left;">School Address Info: <br /><br /></h6>
</div>
<!--School Adress-->
<div class="col-md-12">
    <div class="form-group" id="addressPluginId">
        @{ Html.RenderPartial("_AddressPlugin", Model.SchoolAddressViewModels);}
        <a href=@Url.Action("_AddressModal","Modals") class="open-form-modal"><i class="li_tag"></i> Add New Address</a>
    </div><!-- /content-panel -->
</div><!-- /col-md-12 -->



