﻿@model SMSUI.ViewModels.SchoolSetting.SubjectGradeLevelInformationViewModel
<!--Grede Levels-->
<div class="row">
    <div class="col-sm-6">
        <h6 class="box-title">Grade Levels</h6>
        <table id="gradeLevelTable" class="dataGrid table table-bordered table-striped  table-hover">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>No. Class</th>
                    <th>Max Student</th>
                    <th>Remaining Space</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var countGrades = 0;}

                @foreach (var gradelevel in @Model.GradeLevelViewModels)
                {
                    countGrades += 1;

                <tr>
                    <td>@countGrades.</td>
                    <td>
                        @gradelevel.Name
                        @if (@gradelevel.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Disabled</span>
                        }
                    </td>
                    <td>@gradelevel.NumberOfClass</td>
                    <td>@gradelevel.MaxStudentAllowed</td>
                    <td>
                        <div class="progress xs">
                            @{

                                    if (@gradelevel.RemainingSpace == 100)
                                    {
                                <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                    }
                                    else if (@gradelevel.RemainingSpace == 0)
                                    {
                                <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                    }
                                    else
                                    {
                                <div class="progress-bar progress-bar-primary" style="width: @gradelevel.RemainingSpace%"></div>
                                    }
                            }

                        </div>
                    </td>
                    <td>
                        <div class="pull-right hidden-phone">
                            <a href=@Url.Action("_GradeLevelModal", "Modals", new { gradelevelID = @gradelevel.GradeLevelId}) class="open-form-modal"><span class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></span></a>
                            @*<button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>*@
                            @*<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>*@
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <a href=@Url.Action("_GradeLevelModal","Modals") class="open-form-modal"><i class="li_tag"></i> Add New Grade Level</a>

    </div> <!-- col-sm-6 -->
<!--Subjects-->
    <div class="col-sm-6">
        <h6 class="box-title">Subjects</h6>
        <table id="subjectTable" class="dataGrid table table-bordered table-striped  table-hover">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Subject Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var countSubjects = 0;}

                @foreach (var subject in @Model.SubjectViewModels)
                {
                    countSubjects += 1;
                    <tr>
                        <td>@countSubjects.</td>
                        <td>
                            @subject.Name
                            @if (@subject.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Disabled</span>
                            }
                        </td>
                        <td>@subject.SubjectTypeViewModel.Name</td>
                        <td>
                            <div class="pull-right hidden-phone">
                                <a href=@Url.Action("_SubjectModal", "Modals", new { subjectID = @subject.SubjectId}) class="open-form-modal"><span class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></span></a>
                                @* <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>*@
                                @*<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <a href=@Url.Action("_SubjectModal","Modals") class="open-form-modal"><i class="li_tag"></i> Add New Subject</a>
    </div> <!-- col-sm-6 -->
</div>

<hr />
<!-- SubjectGradeLevel Matrix-->
<div class="box">
        <h6 class="box-title">Subject-Grade Level Matrix</h6>
    <table id="subjectGradeLevelTable" class="dataGrid table table-bordered table-striped  table-hover">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Grade Levels</th>
                <th>Subjects</th>
            </tr>
        </thead>
        <tbody>
            @{ var countGradeLevels = 0;var dropdownID = String.Empty;}
            @foreach (var subGradeLevel in Model.SubjectGradeLevelViewModels)
            {
                countGradeLevels++;
                dropdownID = "GradeLevel" + @subGradeLevel.GradeLevelViewModel.GradeLevelId;
                <tr>
                    <td>@countGradeLevels.</td>
                    <td>@subGradeLevel.GradeLevelViewModel.Name</td>
                    <td>
                        <select id=@dropdownID data-placeholder="Select Subject" style="width:350px;" multiple="" class="chosen-select">
                            <option value=""></option>
                            @foreach (var subject in @Model.SubjectViewModels)
                            {
                                if (@subGradeLevel.SubjectViewModels.Any(s => s.SubjectId == subject.SubjectId))
                                {
                                    <option selected value=@subject.SubjectId>@subject.Name</option>
                                }
                                else
                                {
                                    <option value=@subject.SubjectId>@subject.Name</option>
                                }

                            }
                        </select>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
