﻿@model SMSUI.ViewModels.SchoolSetting.InitializeSchoolViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content">
    <section class="wrapper">
        <!-- SMS Wizard Container-->
        <div class="wizard-container">
            <form id="SchoolInitialization" action="" method="POST">
                <div class="card wizard-card ct-wizard-orange" id="wizard">
                    <!--WIZARD STEPS-->
                    <ul>
                        <li><a href="#SchoolInformation" data-toggle="tab"><i class="li_note" style="font-size:20px;"></i> School Information</a></li>
                        <li><a href="#AcademicYear" data-toggle="tab"><i class="li_settings" style="font-size:20px; text-align: center"></i> Academic Year</a></li>
                        <li><a href="#SubjectsAndGradelevels" data-toggle="tab"><i class="li_study" style="font-size: 20px; text-align: center;"></i> Subjects and Grade levels</a></li>
                        @*<li><a href="#Finish" data-toggle="tab"><i class="li_bulb" style="font-size:20px;"></i>  Finish</a></li>*@
                    </ul>
                    <!--WIZARD STEPS-->
                    <!--WIZARD-STEP TAB CONTENT-->
                    <div class="tab-content">
                        <!--STEP_0--SchoolInformation-->
                        <div class="tab-pane" id="SchoolInformation">
                          @{ Html.RenderPartial("_BasicSchoolInformation", Model.SchoolInformationViewModel);}
                        </div>

                        <!--STEP_1--AcademicYear-->
                        <div class="tab-pane" id="AcademicYear">
                            @{ Html.RenderPartial("_AcademicYear", Model.AcademicYearInformationViewModel);}
                        </div>

                        <!--STEP_2--SubjectsAndGradelevels-->
                        <div class="tab-pane" id="SubjectsAndGradelevels">
                            @{ Html.RenderPartial("_SubjectsAndGradeLevels", Model.SubjectGradeLevelInformationViewModel); }
                        </div>

                        <!--STEP_3--Finish-->
                        @*<div class="tab-pane" id="Finish">
                            <hr /><h3 style="font-style: inherit; font-family: 'Calibri Light'; text-align: left;">School Settings : <br /><br /></h3>
                        </div>*@
                    </div>
                    <!--WIZARD-STEP TAB CONTENT-->
                    <!--WIZARD FOOTER-->
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                            <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' />
                        </div>
                        <div class="pull-left">
                            <input type='button' class='btn btn-previous btn-fill btn-warning btn-wd btn-sm' name='previous' value='Previous' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- modal placeholder-->
                @*<div id='smsModal' class='modal'>
                    <div class="modal-dialog" style="width: 1100px; margin-left: 230px;margin-top: 130px">
                        <div class="modal-content">
                            <div id='smsModalContent'></div>
                        </div>
                    </div>
                </div>*@
            </form>
        </div> <!-- SMS Wizard Container -->

    </section>
</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#deleteButton").onclick(function () {
            $("#addressPluginId").load('@(Url.Action("_AddressPlugin", "School", null))');
        });
    });
</script>*@ 