﻿@using SMSUI.ViewModels
@model SMSUI.ViewModels.StudentIdCardInformationViewModel
<div class="form-panel col-sm-6" style="border-style:none">
    <div class="col-md-4">
        @Html.LabelFor(model => model.RegistrationStatusViewModel, "Registration Status: ", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
    </div>
    <div class="col-md-8">
        <div class="col-sm-4">
            <select class="form-control" id="lkCardStudentRegistrationType" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                @foreach (RegistrationStatusViewModel studentRegistrationStatus in Model.RegistrationStatusViewModels)
                {
                    if (Model.RegistrationStatusViewModel.RegistrationStatusId == studentRegistrationStatus.RegistrationStatusId)
                    {
                        <option selected value="@studentRegistrationStatus.RegistrationStatusId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@studentRegistrationStatus.Name</option>
                    }
                    else
                    {
                       <option value="@studentRegistrationStatus.RegistrationStatusId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@studentRegistrationStatus.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2" style="margin-left: 140px; padding-top: 0;padding-left: 0;margin-top: 0">
            <div class="col-lg-6 pull-right" style="border: none;">
                <a class="btn btn-app pull-right" style="margin-left: 30px; padding-top: 3px; font-size: 17px; font-family: 'Calibri Light';"><i class="fa fa-save"></i> Save</a>
            </div>
         
        </div>
     
    </div>
</div>