﻿@using SMSUI.ViewModels
@model SMSUI.ViewModels.StudentInformationViewModel
<div class="tab-pane" id="StudentInformation">
    <fieldset>
        <div class="col-lg-12">
            <!--Student Name and Info-->
            <div class="col-lg-5" style="margin-top: 10px">
                <span style="font-size: 24px; font-family: 'Calibri Light';">Personal Info:</span>
                <div class="form-panel" style="height: 140px;">
                    <div class="row col-md-12" style="margin-top: 10px;">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.FirstName, "First Name", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.StudentViewModel.FirstName, new { @class = "form-control", @id = "txtstudentFirstName", @autofocus = "true", @style = "font-size: 16px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px" })
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.MiddleName, "Middle Name", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.StudentViewModel.MiddleName, new { @class = "form-control", @id = "txtstudentMiddleName", @autofocus = "true", @style = "font-size: 16px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px" })
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.LastName, "Last Name", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.StudentViewModel.LastName, new { @class = "form-control", @id = "txtstudentLastName", @autofocus = "true", @style = "font-size: 16px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="margin-top: 10px">

                <span style="font-size: 24px; font-family: 'Calibri Light';">Student Info:</span>
                <br />
                <div class="form-panel" style="height: 140px;">
                    <div class="row col-md-12" style="margin-top: 10px;">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.StudentType, "Student Type", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" id="lkAdmissionProcessStudentType" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                                @foreach (StudentTypeViewModel studentType in Model.StudentTypeViewModels)
                                {
                                    if (Model.StudentViewModel.StudentTypeId == studentType.StudentTypeId)
                                    {
                                       <option selected="@studentType.StudentTypeId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@studentType.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@studentType.StudentTypeId">@studentType.Name</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.StudentLevelType, "Student Level", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">

                            <select class="form-control" id="lkAdmissionProcessStudentLevelType" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                                @foreach (StudentLevelTypeViewModel studentLevelType in Model.StudentLevelTypesModels)
                                {
                                    if (Model.StudentViewModel.StudentLevelTypeId == studentLevelType.StudentLevelTypeId)
                                    {
                                        <option selected value="@studentLevelType.StudentLevelTypeId">@studentLevelType.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@studentLevelType.StudentLevelTypeId">@studentLevelType.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.StudentViewModel.IsActive, "IsActive", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" id="ChkAdmissionProcessIsActive" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 30px;">
                                <option selected="@Model.StudentViewModel.IsActive" style="font-size: 20px; font-family: 'Calibri Light'; width: 160px; text-align: center; height: 31px; ">True</option>
                                <option>False<option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" style="margin-top: 50px">
                <div class="picture-container">
                    <div class="picture" style="height: 106px;width: 106px; border-radius: 50%">
                        <img src="~/Content/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                        <input type="file" id="wizard-picture">
                    </div>
                </div>

                <span style="font-size: 24px; font-family: 'Calibri Light';">Attach Photo</span>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 40px;">
            <!--STUDENT ADDRESS-->
            <div class="form-group" id="StudentaddressPluginId">
                @{ Html.RenderPartial("_AddressPlugin", new List<AddressViewModel> { Model.StudentViewModel.AddressViewModel }, new ViewDataDictionary { new KeyValuePair<string, object>("targetdivId", "StudentaddressPluginId") });}
            </div>
        </div>
    </fieldset>
  
 
</div>