﻿@model SMSUI.ViewModels.StudentContactInformationViewModel
<body>
    <div style="padding-bottom: 10px">
        <span style="font-size: 17px; font-family: 'Calibri Light';">Contact Person Info:</span>
    </div>
    <div id="studentContactPersonInfoPlugin" style="margin-left: 50px;margin-right: 50px;margin-bottom: 35px">
        @{ Html.RenderPartial("_ContactPersonPlugin", Model.ContactPersonViewModels);}
    </div>

    <div style="padding-bottom: 10px">
        <span style="font-size: 17px; font-family: 'Calibri Light';">Demographic Info:</span>
    </div>
    <div id="studentDemographicInfoPlugin" style="margin-left: 50px;margin-right: 50px;margin-bottom: 35px">
        @{ Html.RenderPartial("_DemographicInfo", Model.DemographicInfoViewModel);}
    </div>
</body>