﻿@model SMSUI.ViewModels.AdmissionViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}


<section id="main-content">
    <section class="wrapper">
        <!-- SMS Wizard Container-->
        <div class="wizard-container">
@using (Ajax.BeginForm("AddNewStudentEntry", "Admission", new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }, new { @id = "admissionProcessForm" }))
{
    <div class="card wizard-card ct-wizard-orange" id="admissionwizard" style="min-height: 548px;">

        <div class="wizard-header"></div>
        <div class="col-sm-12" style="margin-left: 0; margin-top: 0">
            <div class="col-lg-6 pull-left" style="padding-left: 0;">
                <a href="@Url.Action("Index", "Admission")" class="btn btn-app"><i class="fa fa-arrow-circle-left"></i> Back</a>
            </div>
        </div>
        <!--WIZARD STEPS-->
        <ul>
            <li><a href="#StudentInformation" data-toggle="tab"><i class="li_note" style="font-size: 20px;"></i> Student Information</a></li>
            <li><a href="#ContactInformation" data-toggle="tab"><i class="li_location" style="font-size: 20px; text-align: center"></i>Contact Information</a></li>
            <li><a href="#IDPrint" data-toggle="tab"><i class="li_diamond" style="font-size: 20px; text-align: center"></i>ID-Print</a></li>
        </ul>

        <div class="tab-content" style="min-height: 400px;">
            <!--STEP_0--Student Information-->
            <div class="tab-pane" id="StudentInformation">
                @{ Html.RenderPartial("_StudentInformation", @Model.StudentInformationViewModel); }
            </div>
            <!--STEP_1--Contact Information-->
            <div class="tab-pane" id="ContactInformation">
                @{ Html.RenderPartial("_StudentContactInformation", @Model.StudentContactInformationViewModel); }
            </div>
            <!--STEP_2--ID-Print and Re-Print-->
            <div class="tab-pane" id="IDPrint">
                @{ Html.RenderPartial("_StudentIdCardInformation", @Model.StudentIdCardInformationViewModel); }
            </div>
        </div>
        <!--WIZARD FOOTER-->
        <div class="wizard-footer">
            <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' id="btnSaveAdmissionProcess"   value="Save" name='finish'  />
            </div>
            <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-warning btn-wd btn-sm' name='previous' value='Previous' />
            </div>
        </div>
        <!-- modal placeholder-->
        <div id='smsModal' class='modal'>
            <div class="modal-dialog" style="width: 1100px; margin-left: 230px; margin-top: 130px">
                <div class="modal-content">
                    <div id='smsModalContent'></div>
                </div>
            </div>
        </div>
    </div>
}
        </div>
       
    </section>
</section>