﻿@using SMSUI.ViewModels
@using SMSUI.ViewModels.SchoolSetting
@model FinilazeAdmissionViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}


<section id="main-content">
    <section class="wrapper" style="padding-bottom: 0">
        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="finilazeAdmissionCard" style="min-height: 540px; ">
                <div class="col-lg-12">
                    <div class="col-lg-8" style="padding-top: 200px;padding-left: 290px">
                        <div class="col-md-6" style="width: 200px">
                            @Html.LabelFor(model => model.StudentViewModel.StudentLevelType, "Select GradeLevel: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <select class="form-control" id="lkFinilazeAdmissionStudentGradeLevel" onchange="onchangeUser()" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                                    @foreach (GradeLevelViewModel gradeLevel in Model.PossibleGradeLevelViewModels)
                                    { 
                                      <option selected="" value="@gradeLevel.GradeLevelId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;" >@gradeLevel.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" style="width: 200px">
                            @Html.LabelFor(model => model.StudentViewModel.RegistrationStatus, "Assign Class: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <select class="form-control" id="lkFinilazeAdmissionRelatedClass"  style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                                    @foreach (ClassViewModel classViewModel in Model.RelatedClassViewModels)
                                    {
                                        <option selected="" value="@classViewModel.ClassId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;" >
                                            @classViewModel.StatusWithName
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" style="width: 200px">
                            @Html.LabelFor(model => model.StudentViewModel.RegistrationStatus, "Registration Status: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-4">
                                <select class="form-control" id="lkStudentRegistrationType" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                                    @foreach (RegistrationStatusViewModel studentRegistrationStatus in Model.RegistrationStatusViewModels)
                                    {
                                        if (Model.StudentViewModel.RegistrationStatusId == studentRegistrationStatus.RegistrationStatusId)
                                            {
                                             <option selected value="@studentRegistrationStatus.RegistrationStatusId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@studentRegistrationStatus.Name</option>
                                            }
                                            else
                                            {
                                             <option value="@studentRegistrationStatus.RegistrationStatusId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@studentRegistrationStatus.Name</option>
                                            }
                                    }
                                </select>
                            </div>
                            </div>
                        <div>
                            <a class="btn btn-app pull-right" id="saveFinilizeAdmissionId" style="margin-left:20px;"><i class="fa fa-save"></i> Save</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-sm-12" style="margin-top: 80px; margin-right: 40px">
                            <div class="picture-container col-sm-6" style="padding-right: 0;padding-left: 30px">
                                <div class="picture" style="height: 106px;width: 106px; border-radius: 50%">
                                    <img src="@Model.StudentViewModel.PhotoPath" class="picture-src" id="wizardPicturePreview" title="" />
                                    <input type="file" id="wizard-picture">
                                </div>
                                <span style="font-size: 18px; font-family: 'Calibri Light';">@Model.StudentViewModel.RegistrationStatus.Name</span>
                            </div>
                            <div class="col-sm-6" style="margin-top: 20px;padding-right: 0;padding-left: 0; text-align: center">
                                <span style="margin-bottom: 0;font-size:20px; font-family: 'Calibri Light';">@Model.StudentViewModel.FirstName @Model.StudentViewModel.MiddleName</span>
                                <span style="font-size:17px; font-family: 'Calibri Light';">@Model.StudentViewModel.StudentTypeName - </span>
                                <span style="font-size: 17px; font-family: 'Calibri Light';">@Model.StudentViewModel.StudentLevelTypeName</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 140px; margin-right: 0;">
                    <div class="col-lg-6 pull-left">
                        <a href="@Url.Action("AllStudentsForAdmissioin","Admission")" class="btn btn-app"><i class="fa fa-arrow-circle-left"></i> Back</a>
                    </div>
                    <div class="col-lg-6 pull-right">
                        <a href="@Url.Action("AdmissionProcess", "Admission", new { @studentId = @Model.StudentViewModel.StudentId })" class="btn btn-app pull-right">Id Print <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
</section>