﻿@using SMSUI.Helpers
@using SMSUI.ViewModels
@model RegistrationViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}


<section id="main-content">
    <section class="wrapper">
       
        <div class="wizard-card" style="min-height: 300px;">
            <div class="col-sm-12" style="margin-left: 0;margin-top: 0;padding-left: 0">
                <a href="@Url.Action("AdmissionProcess","Admission")" class="btn btn-app"><i class="fa fa-plus"></i> Add New</a>
            </div>
            <!-- ALL Students ! -->
            <div class="page-container">
                <table id="yidoGrid" class="table table-bordered table-striped  table-hover">
                    <thead>
                        <tr>
                            <th><i class="fa fa-key"></i>Id Number.</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Student Type</th>
                            <th>Student Level</th>
                            <th>Registration Status</th>
                            <th>IsActive</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (StudentsForRegistrationViewModel student in Model.StudentsForRegistrationViewModels)
                        {
                            <tr>
                                <td>@student.IdNumber</td>
                                <td>@student.FirstName</td>
                                <td>@student.MiddleName</td>
                                <td>@student.LastName</td>
                                <td>@student.StudentType</td>
                                <td>@student.StudentLevelType</td>
                                <td>
                                    @switch (@student.RegistrationStatusId)
                                    {
                                        case 1:
                                            <span class="control-label">@student.RegistrationStatus</span>
                                            break;
                                        case 2:
                                        <span class="label label-info">@student.RegistrationStatus</span>
                                            break;
                                        case 3:
                                        <span class="label label-success label-mini">@student.RegistrationStatus</span>
                                            break;
                                        case 4:
                                        <span class="label label-danger label-mini">@student.RegistrationStatus</span>
                                            break;
                                    }
                                </td>

                                <td>
                                    @if (@student.IsActive)
                                    {
                                        <i class="fa fa-check sm" style="align-content: center"></i>
                                    }
                                    else
                                    {
                                        <i class="fa li_lock sm centered"></i>
                                    }
                                </td>

                                <td>
                                    @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "Edit", "AdmissionProcess", "Admission", routeValues: new { @studentId = student.StudentId })
                                </td>
                            </tr>

                        }

                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
      
    </section>
</section>


<script src="~/Content/js/jquery.js"></script>   
<script type="text/javascript">
    $(function () {
        $("#yidoGrid").dataTable();
    });
</script>