﻿@model SMSUI.ViewModels.Attendance.AttendanceInfoViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<section id="main-content">
    <section class="wrapper">
        <div class="wizard-card" style="min-height: 300px;">
            <div class="row page-container">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="lkAttendanceGradeLevels">Grade Level </label>
                        <select id="lkAttendanceGradeLevels" class="form-control">
                            <option value="" disabled selected style="display: none;">Select Grade Level</option>
                            @foreach (var cl in @Model.GradeLevels)
                            {
                                <option value=@cl.GradeLevelId>@cl.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lkAttendanceClasses">Class </label>
                        <select id="lkAttendanceClasses" class="form-control">
                            <option value="" disabled selected style="display: none;">Select Classes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtAttendaceDate">Date </label>
                        <input class="form-control" placeholder="Date" type="text" id="txtAttendaceDate" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lkAttendanceStudents">Students </label>
                        <select id="lkAttendanceStudents" data-placeholder="Select Student" multiple="" class="chosen-select-studens_attendance">
                            <option value=""></option>
                        </select>
                    </div>
                    <input id="btnSaveAttendance" class="btn btn-success" type="button" value="Save" />
                </div>


                <div class="col-sm-6">
                    <table id="tblAbsentsList" class="table table-bordered table-striped  table-hover">
                        <tr>
                            <th>StudentBatchID</th>
                            @*<th>Full Name</th>*@
                            <th>Reason</th>
                            <th>Date</th>
                            <th>Remove</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>