﻿.draggable ,.draggable-copy {
    width: 100px;
    height: 30px;
    background-color: #5a4bb3;
    color: black;
    margin: 1px;
    border-radius: 4px;
    text-align:center;
}


.droppable {
    min-width: 125px;
    height: 50px;
    color: black;
    padding: 10px;
    border-color: gray;
    border-left: 1px solid #ddd;
  }

.droppable-header , .droppable{
    min-width: 125px;
    min-height: 50px;
    border-left: 1px solid #ddd;
}

.dropped {
    background-color: wheat;
}

#btnSaveClassSchedule {
    width: 100%;
    background-color: #92c5d0;
    color: black;
}