﻿.hr .h6 {
    font-style: inherit;
    text-align: left;
}

.control-label {
    padding-top: 10px;
    font-style: inherit;
    font-weight:normal;
    text-align:right;
    margin-bottom: 0;
}

.form-group div .form-control {
    margin:0 0 10px 0;
}

.card , .wizard-card ,.ct-wizard-orange {
    padding-top: 20px;
}
textarea {
    resize: none;
}

.dataGrid {
   width:100%;
}

/*DateTime Picker*/
.form-date {
    padding: 0;
}

/** Modals*/
.form-modal {
  position: relative;
  background: #FFF;
  color: black;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.open-form-modal {
    font-size: 15px; 
    color: darkslategray;
}

.popup-modal-dismiss {
  color: #fff;
  background-color: #ed5565;
  border-color: #da4453;
    border-width: 1px;
    border-radius: 3px;
  font-weight: 400;
  opacity: 0.8;
  padding: 8px 16px;
}

.save-btn {
  color: #fff;
  background-color: #48cfad;
  border-color: #37bc9b;
  border-width: 1px;
  border-radius: 3px;
  font-weight: 400;
  opacity: 0.8;
  padding: 8px 16px;
}

.cancel-btn {
    color: #fff;
  background-color: #ed5565;
  border-color: #da4453;
    border-width: 2px;
  font-weight: 400;
    opacity: 0.8;
  padding: 8px 16px;
}

/*<!-- Chosen Dropdown -->*/

.chosen-select {
    
}