﻿
.page-container {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}




/*
    Component: SMS-Mailbox
*/
.mailbox .table-mailbox {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.mailbox .table-mailbox tr.unread > td {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  font-weight: 600;
}
.mailbox .table-mailbox tr > td > .fa.fa-star,
.mailbox .table-mailbox tr > td > .fa.fa-star-o,
.mailbox .table-mailbox tr > td > .glyphicon.glyphicon-star,
.mailbox .table-mailbox tr > td > .glyphicon.glyphicon-star-empty {
  color: #f39c12;
  cursor: pointer;
}
.mailbox .table-mailbox tr > td.small-col {
  width: 30px;
}
.mailbox .table-mailbox tr > td.name {
  width: 150px;
  font-weight: 600;
}
.mailbox .table-mailbox tr > td.time {
  text-align: right;
  width: 100px;
}
.mailbox .table-mailbox tr > td {
  white-space: nowrap;
}
.mailbox .table-mailbox tr > td > a {
  color: #444;
}
@media screen and (max-width: 767px) {
    .mailbox .nav-stacked > li:not(.header) {
        float: left;
        width: 50%;
    }
.mailbox .nav-stacked > li:not(.header).header {
            border: 0 !important;
        }

    .mailbox .search-form {
        margin-top: 10px;
    }

    /*
        Component: nav-pills active background
    */
    a.list-group-item.active > .nav-pills,
    .nav-pills > .active > a > .nav-pills {
       background: #68dff0;
       color: #fff;
    }
}