﻿body {
}


.card .wizard-card .btn {
    
    
}
.saveTeacher {

    padding-right: 50px;
}
.buttonBg {
    background: #424a5d; 
    color: #ffd777;
}

.optionstyle {
    display: inline; 
    padding-left:5px;  
    font-size: 15px; 
    font-family: 'Calibri Light'; 
    width: 172px; 
    text-align: center; 
    height: 31px;
}