﻿@model SMSUI.ViewModels.LoggedInUserViewModel

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
    ViewBag.LoggedInUser = @Model;
}


<section id="main-content">
    <section class="wrapper">
        <!--FIRST ROW Profile Picture!-->
        <div class="col-lg-12 ">
            <div class="col-lg-4 centered">
            </div>
            <div class="col-lg-4 centered">
                <div class="img-responsive">
                    <span class="photo"><img alt="avator" src="@Model.PhotoPath"/>
                    <br /><br /> @Model.FirstName @Model.Lastname! <br />Teacher</span>
                </div>
            </div>
          
        </div>
        <!--SECOND ROW PROFILE INFO AND ADDRESS INFO-->
        <div class="col-md-12">
            <div class="col-lg-2 "></div>
            <div class="col-lg-8 ">
            
                   <div class="form-panel">
                       <h4 class="mb"><i class="li_user fa-2x" style="font-family:'Brush Script MT'" ></i>  Profile Information</h4>
                      @using (@Html.BeginForm("_ProfilePartial", "Test", FormMethod.Post, new { Model, @class = "form-horizontal style-form", @id = "profileEdit" }))
                      {
                        @Html.HiddenFor(m=>m.UserID)
                       <form class="form-horizontal style-form" method="get">
                           <div class="form-group">
                               <!--FIRST NAME-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2 col-sm-2 control-label", @id = "FirstName", @placeholder = "First Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.FirstName)
                               <div class="col-sm-10">
                                   @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "FirstName", @placeholder = "First Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.FirstName)
                               </div>
                           </div>
                           <div class="form-group">
                               <!--LAST NAME-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.Lastname, new { @class = "col-sm-2 col-sm-2 control-label", @id = "Lastname", @placeholder = "Lastname", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Lastname)
                               <div class="col-sm-10">
                                   @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control", @id = "Lastname", @placeholder = "Lastname", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Lastname)
                               </div>
                           </div>
                           <div class="form-group">
                               <!--MIDDLE NAME-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.MiddleName, new { @class = "col-sm-2 col-sm-2 control-label", @id = "MiddleName", @placeholder = "MiddleName", @autofocus = "true" })@Html.ValidationMessageFor(m => m.MiddleName)
                               <div class="col-sm-10">
                                   @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @id = "MiddleName", @placeholder = "MiddleName", @autofocus = "true" })@Html.ValidationMessageFor(m => m.MiddleName)
                               </div>
                           </div>
                           <div class="form-group">
                               <!--USER NAME-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 col-sm-2 control-label", @id = "UserName", @placeholder = "User Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.UserName)
                               <div class="col-sm-10">
                                   @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "UserName", @placeholder = "User Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.UserName)
                               </div>
                           </div>
                           <div class="form-group">
                               <!--MOBILE NO.-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.AddressViewModel.MobilePhone, new { @class = "col-sm-2 col-sm-2 control-label", @id = "UserName", @placeholder = "Mobile No.", @autofocus = "true" })@Html.ValidationMessageFor(m => m.AddressViewModel.MobilePhone)
                               <div class="col-sm-10">
                                       @Html.TextBoxFor(model => model.AddressViewModel.MobilePhone, new { @class = "form-control",@type="tel", @id = "UserName", @placeholder = "Mobile No.", @autofocus = "true" })@Html.ValidationMessageFor(m => m.AddressViewModel.MobilePhone)
                               </div> 
                           </div>
                           <div class="form-group">
                               <!--USER NAME-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 col-sm-2 control-label", @id = "UserName", @placeholder = "UserName", @autofocus = "true" })@Html.ValidationMessageFor(m => m.UserName)
                               <div class="col-sm-10">
                                   @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" , @id = "UserName", @placeholder = "User Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.UserName)
                               </div>
                           </div>
                           <div class="form-group has-warning">
                               <!--PASSWORD-->
                               @Html.ValidationSummary(true)
                               @Html.LabelFor(model => model.PassWord, new { @class = "col-sm-2 col-sm-2 control-label", @id = "PassWord", @placeholder = "PassWord", @autofocus = "true" })@Html.ValidationMessageFor(m => m.PassWord)
                               <div class="col-sm-10" >
                                   @Html.TextBoxFor(model => model.PassWord, new { @class = "form-control", @type = "password", @id = "PassWord", @autofocus = "true" })@Html.ValidationMessageFor(m => m.PassWord)
                               </div> 
                           </div>
                           <button type="submit" class="btn btn-theme pull-right">Save</button>
                           <br /><br />
                       </form>
                       }


                </div>
            </div>
        </div>
        
</section>
    </section>

