﻿@using SMSUI.ViewModels.Teacher
@model StudentsExamInfoViewModel

<div class="col-sm-12">
    <div class="col-lg-12" id="lkMyStudentsByClass">
        <div class="col-lg-6">
            <label id="studentsExamInfoStudentInfoLabel" style="font-size: 21px; font-family: 'Calibri Light'; text-align: left;">Kiber Temesgen</label>
        </div>
        <div class="col-lg-6">
            <div class="col-md-5" style="width: 170px">
                @Html.LabelFor(model => model.StudentBathViewModel.StudentID, "Search Student: ", new { @style = "font-size: 20px; font-family: 'Calibri Light';text-align: left;" })
            </div>
            <div class="col-md-6">
                <select class="chosen-select" id="lkMystudentSearchStudent" onchange="onMystudentSearching()" style="font-size: 20px; font-family: 'Calibri Light'; width: 302px; text-align: center; height: 31px;" data-placeholder="Select Student...">
                    <option value=""></option>
                    @foreach (var studentBatch in Model.StudentBathViewModels)
                    {
                        <option value="@studentBatch.StudentID" id="mystudentsSingleStudentID" style="font-size: 18px; font-family: 'Calibri Light'; text-align: left;">@studentBatch.StudentViewModel.FirstName  @studentBatch.StudentViewModel.MiddleName</option>
                    }
                </select>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-12" style="padding-left: 50px; padding-top: 20px;">

    <div class="col-sm-12">

        <div class="col-md-6" style="width: 200px">
            @Html.LabelFor(model => model.ClassViewModel.Name, "Select Class: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
        </div>
        <div class="col-md-6">
            <div class="col-sm-4">
                <select class="form-control" id="lkMystudentClass" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                    @foreach (var singleClass in Model.ClassViewModels)
                    {
                        <option selected="" value="@singleClass.ClassId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@singleClass.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="col-md-6" style="width: 200px">
            @Html.LabelFor(model => model.ClassViewModel.Name, "Select Subject: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
        </div>
        <div class="col-md-6">
            <div class="col-sm-4">
                <select class="form-control" id="lkMystudentClass" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                    @foreach (var subject in Model.SubjectViewModels)
                    {
                        <option selected="" value="@subject.SubjectId" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@subject.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="col-md-6" style="width: 200px">
            @Html.LabelFor(model => model.ClassViewModel.Name, "Select Exam: ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
        </div>
        <div class="col-md-6">
            <div class="col-sm-4">
                <select class="form-control" id="lkMystudentClass" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                    @foreach (var emam in Model.TeacherBatchExamViewModels)
                    {
                        <option selected="" value="@emam.TeacherBatchExamID" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@emam.Exam.Name /@emam.Exam.Mark</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6"> </div> 
        <div class="col-lg-6">
            <label>Point: </label>     
            @Html.TextBoxFor(model => model.Point, new { @style = "border-radius: 8px;font-size: 16px;width: 40px;  font-family: 'Calibri Light';text-align: center;", @id = "ScoredPointID", @placeholder = "" })
            <a class="btn btn-app" id="saveMystudentExamResultId" style="font-size: 16px; padding-left: 0px;"><i class="fa fa-save"></i> Save</a>
        </div>
    </div>
</div>



 