﻿@using System.Globalization
@using SMSUI.ViewModels.Exam
@model SMSUI.ViewModels.Teacher.StudentExamResultInformationViewModel

<body>

    <div class="col-lg-12">
        <div class="form-panel col-sm-6" style="border-style:none">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClassWithSubjectAggrigatedViewModel, "Class: ", new { @style = "font-size: 18px; font-family: 'Calibri Light';text-align: left;" })
            </div>
            <div class="col-md-8">
                <div class="col-sm-4">
                    <select class="form-control" id="lkStudentExamResultInfoClasses" style="font-size: 15px; font-family: 'Calibri Light'; width: 172px; text-align: center; height: 31px;">
                        @foreach (var singleClass in Model.ClassWithSubjectAggrigatedViewModel.Select(cl => cl.ClassWithSubjectsAggrigated))
                        {
                            foreach (var oneClass in singleClass)
                            {
                                <option style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@oneClass</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-2" style="margin-left: 140px; padding-top: 0;padding-left: 0;margin-top: 0">
                    <div class="col-lg-6 pull-right" style="border: none;">
                        <a class="btn btn-app pull-right" style="margin-left: 30px; padding-top: 3px; font-size: 17px; font-family: 'Calibri Light';">Go <i class="fa fa-arrow-right"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--STUDENT RESULT TABLE-->
        <table class="table table-responsive table-bordered table-mailbox" style="padding-left: 40px;padding-top: 40px;width:800px; margin-left: 140px;margin-top: 20px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student</th>
                    @foreach (ExamViewModel exam in Model.ExamsTakenWithnAclass)
                    {
                        <th>@exam.ExamFullName</th>
                    }
                    <th>Total (100%)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @foreach (var studentResult in Model.StudentExamResults)
                {
                    count += 1;
                    <tr>
                        <td>@count</td>
                        <td>@studentResult.StudentFullName</td>
                        @foreach (var examResult in studentResult.ExamResults)
                        {
                            <td>@examResult.Point</td>
                        }
                        <td>@studentResult.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-12" style="margin-left: 430px;margin-top: 132px">
        <div class="col-lg-6" ></div>
        <div class="col-lg-6 pull-right">
            <a href="#" style="background: #424a5d; color: #ffd777; border-radius: 15px;height: 30px;padding-top: 2px;padding-bottom: 0px;padding-left: 10px;padding-right: 10px;width: 95px;" class="btn btn-app"><i class="glyphicon glyphicon-exclamation-sign"></i> Submit</a>
        </div>
     </div>
</body>
