﻿@using SMSUI.ViewModels.Teacher
@model  List<ExamResultViewModel>

<table class="table table-responsive table-bordered table-mailbox" style="padding-left: 40px;padding-top: 40px;width:800px; margin-left: 140px;margin-top: 20px">
  <thead>
        <tr>
            <th>#</th>
            <th>Exam</th>
            <th>Date</th>
            <th>Score</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
        }
        @foreach (var exam in Model)
        {
            count +=1;
            <tr>
                <td>@count</td>
                <td>@exam.Exam.Name</td>
                <td>@exam.DateOfEntry</td>
                <td>@exam.ScoredOutOf</td>
                <th><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></th>
            </tr>
        }
    </tbody>
</table>