﻿@model  SMSUI.ViewModels.Teacher.MyStudentsViewModel

@{
    ViewBag.Title = "My Students";
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<body>
    <section id="main-content">
        <section class="wrapper" style="padding-bottom: 0">
            <div class="wizard-container">
                <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 540px; ">
                  

                    <div class="col-md-12" style="padding-left: 20px;padding-top: 0">
                        <div class="nav-tabs-custom" >
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tbMyStudentExamInfo" data-toggle="tab" style="width: 220px; font-size: 21px; font-family: 'Calibri Light';">Exam Information</a></li>
                                <li><a href="#tbMyStudentExamResult" data-toggle="tab" style="width: 220px; font-size: 21px; font-family: 'Calibri Light';">Students Result</a></li>
                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tbMyStudentExamInfo">
                                    <div class="col-lg-12">
                                        @{ Html.RenderPartial("_StudentsExamInfo", Model.StudentsExamInfoViewModel);}
                                    </div>
                                    <div class="col-lg-12" style="padding-top: 40px">
                                        @{Html.RenderPartial("_StudentsExamResult", Model.ExamResultViewModels);}
                                    </div>
                                </div>  
                                <div class="tab-pane" id="tbMyStudentExamResult">
                                    @{Html.RenderPartial("_StudentExamResultInformation", Model.StudentExamResultInformationViewModel);}
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div>
        </section>
    </section>
   
</body>