﻿@using SMSUI.ViewModels
@model AccountEditViewModel



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" style="align-content: center;" id="myModalLabel">Add new Account</h4>
</div>


@using (Html.BeginForm(Html.BeginForm("Index", "Account", FormMethod.Post)))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Account.UserId)


            <div class="form-group">
                <!--FIRST NAME-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.Account.FirstName, "First Name", new { @class = "col-sm-2 col-sm-2 control-label", @id = "FirstName", @placeholder = "First Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.FirstName)
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Account.FirstName, new { @class = "form-control", @id = "FirstName", @placeholder = "First Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.FirstName)
                </div>
            </div>
            <div class="form-group">
                <!--LAST NAME-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.Account.Lastname, "Last Name", new { @class = "col-sm-2 col-sm-2 control-label", @id = "Lastname", @placeholder = "Lastname", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.Lastname)
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Account.Lastname, new { @class = "form-control", @id = "Lastname", @placeholder = "Lastname", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.Lastname)
                </div>
            </div>
            <div class="form-group">
                <!--MIDDLE NAME-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.Account.MiddleName, "MiddleName", new { @class = "col-sm-2 col-sm-2 control-label", @id = "MiddleName", @placeholder = "MiddleName", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.MiddleName)
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Account.MiddleName, new { @class = "form-control", @id = "MiddleName", @placeholder = "MiddleName", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.MiddleName)
                </div>
            </div>
            <div class="form-group">
                <!--USER NAME-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.Account.UserName, "User Name", new { @class = "col-sm-2 col-sm-2 control-label", @id = "UserName", @placeholder = "User Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.UserName)
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Account.UserName, new { @class = "form-control", @id = "UserName", @placeholder = "User Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.UserName)
                </div>
            </div>

            <div class="form-group">
                <!--USER ROLE-->
                @Html.ValidationSummary(true)
                @Html.LabelFor(model => model.Account.RoleName, "Role", new { @class = "col-sm-2 col-sm-2 control-label", @id = "Role", @placeholder = "Role Name", @autofocus = "true" })@Html.ValidationMessageFor(m => m.Account.RoleName)
                <div class="col-sm-10">
                    <select class="form-control">
                        @foreach (RoleViewModel role in Model.Roles)
                        {
                            <option selected="@Model.CurrentAccountRole.RoleID">@role.Name</option>
                        }
                    </select>
                </div>
            </div>

            @Html.ValidationMessageFor(model => model.Account.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer centered">
        <input class="btn btn-theme03" type="submit" value="Save" />
        <button class="btn btn-theme04" type="button" data-dismiss="modal">Cancel</button>
    </div>
}