﻿@using SMSUI.Helpers
@using SMSUI.ViewModels
@model IEnumerable<AccountsViewModel>

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<section id="main-content">
    <section class="wrapper">

        <!-- SMALL NOTIFICATION! -->
        <div class="col-lg-8 pull-right " title="SMS Users!">
            <i class="fa fa-users" style="font-size:70px; background-color:transparent; margin-top: 30px;"></i>
            <h2 class="badge bg-important" style="font-size:40px;">+@Model.Count()</h2>
            <h5 class="badge bg-success" style="font-size:x-large">SMS Users!</h5>
            <br /><br />
        </div>
        <!-- SMALL NOTIFICATION! -->
        <!-- ALL SMS USERS! -->
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table table-striped table-advance table-hover" id="UserAccounts">
                        <div class="input-group">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <thead>
                            <tr>
                                <th><i class="fa fa-key"></i>No.</th>
                                <th><i class="fa fa-bullhorn"></i> @Html.DisplayNameFor(model => model.FirstName)</th>
                                <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.MiddleName)</th>
                                <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.UserName)</th>
                                <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.RoleName)</th>
                                <th class="hidden-phone" title="Status"><i class="fa fa-edit"></i> @Html.DisplayNameFor(model => model.IsActive) </th>
                                <th><i class="fa fa-bookmark"></i> @Html.DisplayNameFor(model => model.LastLogin)</th>
                                <th><i class="fa fa-bookmark"></i> @Html.DisplayNameFor(model => model.Activity)</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int count = 0;
                            }
                            @foreach (AccountsViewModel account in Model)
                            {
                                count = count + 1;
                                <tr>
                                    <td class="left">@count</td>
                                    <td>@account.FirstName</td>
                                    <td>@account.MiddleName</td>
                                    <td>@account.UserName</td>
                                    <td>@account.RoleName</td>
                                    <td>
                                        @if (@account.IsActive)
                                        { <button class="btn btn-success btn-xs" disabled="disabled"><i class="fa fa-check"></i></button>}
                                        else
                                        {<button class="btn btn-danger btn-xs" disabled="disabled"><i class="fa li_lock "></i></button>}
                                    </td>
                                    <td>@account.LastLogin</td>

                                    @if (@account.Activity > 78)
                                    {
                                        <td><span class="label label-success label-mini">@account.Activity %</span></td>
                                    }
                                    else if (@account.Activity > 40 && @account.Activity < 78)
                                    {

                                        <td><span class="label label-info label-info">@account.Activity %</span></td>
                                    }
                                    else
                                    {

                                        <td><span class="label label-danger label-mini">@account.Activity %</span></td>
                                    }

                                    <td>
                                        @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "Edit", "_Edit", "Account", routeValues: new { @userId = account.UserId }, htmlAttributes: new { data_modal = "" })
                                        @Html.NoEncodeActionLink("<span class='btn btn-danger btn-xs'><i class='fa fa-trash-o'></i> </span>", "Delete", "_Delete", "Account", routeValues: new { @userId = account.UserId }, htmlAttributes: new { data_modal = "" }) 
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
        </div>

        <!-- modal placeholder-->
        <div id='smsModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='smsModalContent'></div>
                </div>
            </div>
        </div>
     
        <div class="panel-body">
            @Html.ActionLink("+ Add New Account", "_Create", "Account","<i class='fa fa-arrow-right'></i>", new { data_modal = "", id = "btnAddNew", @class = "btn btn-round btn-info" })
        </div>
 
    </section>

</section>
