﻿@model  IList<SMSUI.ViewModels.Staff.TeacherBatchViewModel>
<table class="table table-responsive table-bordered table-mailbox" style="margin-bottom: 2px;margin-top: 0">
    <thead>
        <tr>
            <th><i class="fa fa-bullhorn"></i> Teacher</th>
            <th>Subject</th>
            <th>Class</th>
            <th><i class=" fa fa-edit"></i> IsSupervisor</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var teacherbatch in Model)
        {

            <tr>
                <td>@teacherbatch.TeacherTerm.Teacher.FullName</td>
                <td>@teacherbatch.Subject.Name</td>
                <td>@teacherbatch.TeacherTerm.Class.Name</td>
                @*<td>
                    @if (@teacherbatch.IsSupervisor)
                    {
                        <i class="fa fa-check sm" style="align-content: center"></i>
                    }
                    else if (@teacherbatch.TeacherBatchID != 0)
                    {
                        <i class="fa li_lock sm centered"></i>
                    }
                </td>*@

            </tr>
        }
    </tbody>
</table>