﻿@using SMSUI.Helpers
@using SMSUI.ViewModels.Staff
@model IEnumerable<SMSUI.ViewModels.Staff.TeacherViewModel>

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<section id="main-content">
    <section class="wrapper">

        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">

                <div class="row mt">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <div>
                                <table class="table table-striped table-hover" id="teachersTable" style="margin-top: 100px;">
                                    <thead>
                                        <tr>
                                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.IdNumber)</th>
                                            <th><i class="fa fa-bullhorn"></i> @Html.DisplayNameFor(model => model.FirstName)</th>
                                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.MiddleName)</th>
                                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> @Html.DisplayNameFor(model => model.LastName)</th>
                                            <th class="hidden-phone" title="Status"><i class="fa fa-edit"></i> @Html.DisplayNameFor(model => model.IsActive) </th>
                                            <th class="hidden-phone" title="Action"><i class="fa fa-edit"></i> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody class="searchable">
                                        @foreach (TeacherViewModel tvm in Model)
                                        {
                                            <tr>
                                                <td>@tvm.IdNumber</td>
                                                <td>@tvm.FirstName</td>
                                                <td>@tvm.MiddleName</td>
                                                <td>@tvm.LastName</td>
                                                <td>
                                                    @if (@tvm.IsActive)
                                                    { <button class="btn btn-success btn-xs" disabled="disabled"><i class="fa fa-check"></i></button>}
                                                    else
                                                    {<button class="btn btn-danger btn-xs" disabled="disabled"><i class="fa li_lock "></i></button>}

                                                </td>
                                                <td>
                                                    @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "_UpdateTeacherBatch", "_UpdateTeacherBatch", "Teacher", routeValues: new { @teacherId = tvm.TeacherID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </section>
</section>


<script src="~/Content/js/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $("#teachersTable").dataTable();
    });
</script>
