﻿@using System.Web.Mvc.Html
@using SMSUI.ViewModels
@model SMSUI.ViewModels.Staff.TeacherViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
@using (Html.BeginForm("_teacher", "Teacher", FormMethod.Post))
{
    <section id="main-content">
    <section class="wrapper">
        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">
                    
                    <div class="col-lg-12">

                        <div class="col-lg-5" style="margin-top: 10px">
                            <span style="font-size: 24px; font-family: 'Calibri Light';">Teacher Info:</span>
                            <div class="form-panel" style="height: 200px; align-self: center">
                                <div class="row col-md-12">
                                    <div class="col-md-5">
                                        @Html.LabelFor(model => model.IdNumber, "ID Number", new {@style = "font-size: 20px; font-family: 'Calibri Light';text-align: left;"})
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.IdNumber, new {@class = "form-control", @id = "txtTeacherIdNumber", @autofocus = "true", @style = "font-size: 20px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px"})
                                    </div>
                                </div>
                                <div class="row col-md-12" style="">
                                    <div class="col-md-5">
                                        @Html.LabelFor(model => model.FirstName, "First Name", new {@style = "font-size: 20px; font-family: 'Calibri Light';text-align: left;"})
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", @id = "txtTeacherFirstName", @autofocus = "true", @style = "font-size: 20px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px"})
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-5">
                                        @Html.LabelFor(model => model.MiddleName, "Middle Name", new {@style = "font-size: 20px; font-family: 'Calibri Light';text-align: left;"})
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.MiddleName, new {@class = "form-control", @id = "txtTeacherMiddleName", @autofocus = "true", @style = "font-size: 20px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px"})
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-5">
                                        @Html.LabelFor(model => model.LastName, "Last Name", new {@style = "font-size: 20px; font-family: 'Calibri Light';text-align: left;"})
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", @id = "txtTeacherLastName", @autofocus = "true", @style = "font-size: 20px; font-family: 'Calibri Light';width: 160px;text-align: center; height: 30px"})
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2" style="margin-top: 50px">
                            <div class="picture-container">
                                <div class="picture" style="height: 106px; width: 106px; -ms-border-radius: 50%; border-radius: 50%">
                                    <img src="~/Content/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                    <input type="file" id="wizard-picture">
                                </div>
                            </div>

                            <span style="font-size: 24px; font-family: 'Calibri Light';">Attach Photo</span>
                        </div>
                    </div>
                    <hr />
                    <div class="col-lg-12">
                        @{
                            Html.RenderPartial("_AddressPlugin", new List<AddressViewModel> {@Model.Address});
                                
                            <a href=@Url.Action("_AddressModal","Modals") class="open-form-modal"><i class="li_tag"></i> Add Address</a>
                        }
                    </div>
                    <hr />
                    <div class="col-lg-12">
                        @{
                            Html.RenderPartial("_DemographicInfo", @Model.DemographicInformation);
                            <a href=@Url.Action("DemographicInfoModal", "Home") class="open-form-modal"><i class="li_tag"></i> Add New</a>
                        }
                    </div>
                    <hr />
                    
                    <div class="saveTeacher pull-right" style="padding-right: 30px; padding-top: 10px">
                       
                        
                        <input class="btn btn-info btn-success" style="background: #424a5d; color: #77ff7e; " type="submit" value="Save" />
                        <a href="@Url.Action("Index", "Teacher")" style="background: #424a5d; color: #ffd777; " class="btn btn-app"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                        
                    </div>
                </div>

                   
                
            </div>
        
        </section>
    </section>
}
