﻿@model SMSUI.ViewModels.Staff.TeacherBatchPageViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
@using (Html.BeginForm("_UpdateTeacherBatch", "Teacher", FormMethod.Post))
{
    <section id="main-content">
        <section class="wrapper" style="overflow: hidden">
            
            <div class="wizard-container">
                <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">
                    <div style="margin:20px;">
                        <div style="margin-left: 30px; margin-right: 30px; margin-bottom: 10px;">
                            <div class="row">
                                @Html.LabelFor(model => model.SubjectViewModels, "Subject : ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left;" })
                                
                                <select class="form-control" style="display: inline; padding-left: 5px; font-size: 15px; font-family: 'Calibri Light'; width: 150px; text-align: center; height: 31px;">
                                    @foreach (var subject in Model.SubjectViewModels)
                                    {
                                        <option value=@subject.SubjectId style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@subject.Name</option>
                                    }
                                </select>

                                @Html.LabelFor(model => model.GradeLevelViewModels, "Grade Level : ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left; padding-left: 5px;" })

                                <select class="form-control" style="display: inline; font-size: 15px; font-family: 'Calibri Light'; width: 150px; text-align: center; height: 31px;">
                                    @foreach (var grade in Model.GradeLevelViewModels)
                                    {
                                        <option value=@grade.GradeLevelId onchange="getClasses(this.value)" style="font-size: 20px; font-family: 'Calibri Light'; text-align: left;">@grade.Name</option>
                                    }
                                </select>
                                <br />
                                @Html.LabelFor(model => model.ClassViewModels, "Class : ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left; padding-top: 5px;" })

                                <select class="form-control" style="display: inline; font-size: 15px; margin-top: 10px;margin-left: 10px; font-family: 'Calibri Light'; text-align: center; width: 150px; height: 31px;">
                                    @foreach (var clas in Model.ClassViewModels)
                                    {
                                        <option value=@clas.ClassId style="display: inline; font-size: 15px; font-family: 'Calibri Light'; text-align: left;">@clas.Name</option>
                                    }
                                </select>

                                <br />

                                @Html.LabelFor(model => model.IsSupervisor, "Supervisor : ", new { @style = "font-size: 16px; font-family: 'Calibri Light';text-align: left; display: inline; padding-left: 0" })
                                <input class="checkbox-inline ez-checkbox" type="checkbox" value=@Model.IsSupervisor />
                            </div>



                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <input class="btn btn-info btn-foursquare" style="background: #ffd777; color: #424a5d; " type="submit" value="Save Changes" />
                            </div>


                        </div>

                        <!-- List of teacherBatch data if exists-->
                        <div class="row" style="margin-top: 5px; margin-left: 30px; margin-right: 30px">
                            <div class="panel">
                                <div class="panel-body" style="padding-top: 5px; padding-bottom: 5px;">
                                    
                                    <strong>@Model.TeacherBatchViewModels.Take(1).FirstOrDefault().TeacherTerm.Teacher.FullName</strong>
                                     Batch Information
                                </div>

                            </div>

                            @if (Model.TeacherBatchViewModels != null)
                            {
                                @Html.Partial("_TeacherBatchGrid", Model.TeacherBatchViewModels)
                            }
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </section>
}


<script>

    function getClasses() {
        @*var classes = @Model.ClassViewModels.Where(a => a.GradeLevelViewModel.GradeLevelId == gradelevel).ToList();*@
    }

</script>