﻿@model SMSUI.ViewModels.Exam.ExamSchedulePViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}


<section id="main-content">
    <section class="wrapper">
        <div class="wizard-card" style="min-height: 550px; ">

            <div id="addNewExamForm" class="form-horizontal col-sm-6" style="margin: 10px 0 10px 30px; height: 250px;">
                <div class="form-group">
                    <label class="control-label" for="txtExamName">Name </label>
                    <input id="txtExamName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="lkExamType">Exam Type </label>
                    <select id="lkExamType" class="form-control">
                        @foreach (var grade in @Model.GradeLevelViewModels)
                        {
                            <option value=@grade.GradeLevelId>@grade.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lkExamType">Exam Type </label>
                    <select id="lkExamType" class="form-control">
                        @foreach (var examType in @Model.ExamTypeViewModels)
                        {
                            <option value=@examType.ExamTypeID>@examType.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="txtExamMark">Mark </label>
                    <input id="txtExamMark" class="form-control" type="number" />
                </div>
                <input id="btnSaveExam" class="btn btn-info" type="button" value="Save" />



                <table id="examsTable" class="table table-bordered table-striped  table-hover">
                    <thead>
                        <tr>
                            <th>ExamID</th>
                            <th>Name</th>
                            <th>Exam Type</th>
                            <th>Mark</th>
                            <th>Exam Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model.StandardExamViewModels)
                        {
                            <tr>
                                <td>@a.ExamID</td>
                                <td>@a.Name</td>
                                <td>@a.ExamTypeViewModel.Name</td>
                                <td>@a.Marks</td>
                                <td>@a.ExamDate.ToLongDateString()</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </section>
</section>