﻿@model  SMSUI.ViewModels.Setting.PeriodSettingPageViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}


<section id="main-content">
    <section class="wrapper">
        <div class="wizard-card" style="min-height: 500px;">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style=" height: 200px; margin-left:30px;">
                                    <label class="control-label" for="txtWorkingHour" style="display: inline;">Working Hour: </label>
                                    <input id="txtWorkingHour" class="form-control" type="number" style="width: 100px;" />

                                    <label class="control-label" for="txtPeriodDuration" style="display: inline;"> Period Duration (m): </label>
                                    <input id="txtPeriodDuration" class="form-control" type="time" style="width: 100px;" />

                                    <label class="control-label" for="txtClassStarttime" style="display: inline;">Class Start Time: </label>
                                    <input id="txtClassStarttime" class="form-control" type="time" style="display: inline; width: 100px" />

                                    <label class="control-label" for="txtClassEndtime" style="display: inline;">Class End Time: </label>
                                    <input id="txtClassEndtime" class="form-control" type="time" style="display: inline; width: 100px" />
                     </div>
                </div>
                <div class="col-md-6" >
                    <div class="row" style=" height: 200px; margin-right:30px;">
                        <label class="control-label" for="txtMorningBDuration" style="display: inline;">Morning Break Duration (m): </label>
                        <input id="txtMorningBDuration" class="form-control" type="number" style="width: 80px;" />

                        <label class="control-label" for="txtMorningBStarttime" style="display: inline;">Morning Break Start Time: </label>
                        <input id="txtMorningBStarttime" class="form-control" type="time" style="width: 100px;" />
                        
                        <label class="control-label" for="txxLunchBDuration" style="display: inline;">Lunch Break Duration (m): </label>
                        <input id="txxLunchBDuration" class="form-control" type="number" style="width: 80px;" />
                        
                        <label class="control-label" for="txtLunchBStarttime" style="display: inline;">Lunch Break End Time: </label>
                        <input id="txtLunchBStarttime" class="form-control" type="time" style="width: 100px;" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin:0 30px 0 30px">
                    <input id="btnSavePeriod" class="btn btn-primary" type="button" value="Save Setting" />
                    <div>
                        <p><strong>Sample Data</strong></p>
                        <div>
                            <table id="examsTable" class="table table-bordered table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th>PeriodID</th>
                                        <th>Name</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var a in Model.PeriodViewModels)
                                    {
                                        <tr>
                                            <td>@a.PeriodID</td>
                                            <td>@a.Name</td>
                                            <td>@a.StartTime</td>
                                            <td>@a.EndTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</section>
