﻿<body >
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">

    <div class="container" onload="getTime()">

        <div id="showtime"></div>
        <div class="col-lg-4 col-lg-offset-4">
            <div class="lock-screen">
                <h2><a data-toggle="modal" href="#myModal"><i class="fa fa-lock"></i></a></h2>
                <p>UNLOCK</p>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Welcome Back</h4>
                            </div>
                            <div class="modal-body">
                                <p class="centered"><img class="img-circle" width="80" src="~/Content/img/ui-sam.jpg"></p>
                                <input type="password" name="password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer centered">
                                <button data-dismiss="modal" class="btn btn-theme04" type="button">Cancel</button>
                                <button class="btn btn-theme03" type="button">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->


            </div><!--/lock-screen -->
        </div><!-- /col-lg-4 -->

    </div><!-- /container -->




    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/Content/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../Content/img/login-bg.jpg", { speed: 500 });
     </script>

    <script>
        function getTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () { getTime() }, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

    </script>
<script>
    $(document).ready(function () {
        getTime();
    });
</script>
    </body>
