﻿
<title>SMS Login</title>
<body style="background-color:dimgray" >
@model SMSUI.ViewModels.LoginViewModel
<!-- Bootstrap core CSS -->
<link href="~/Content/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="~/Content/css/style.css" rel="stylesheet">
<link href="~/Content/css/style-responsive.css" rel="stylesheet">

    <div class="container">

        <div id="login-page">
            <div class="container" style="margin-top:40px;">

                    @using (Html.BeginForm("_Login", "Home", FormMethod.Post, new { Model,ReturnUrl = ViewBag.ReturnUrl, @class = "form-login", @Id = "loginform" }))
                    {
                        <h2 class="form-login-heading">sign in</h2>
                        <div class="login-wrap">                          
                            @Html.ValidationSummary(true)
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "username", @placeholder = "Username", @autofocus = "true" })@Html.ValidationMessageFor(m => m.UserName)
                            <br />
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password", @type = "password", @placeholder = "Password" })@Html.ValidationMessageFor(m => m.Password)
                            <label class="checkbox">
                                <span class="pull-right">
                                    <a data-toggle="modal" href="#"> Forgot Password?</a>
                                </span>
                            </label>
                                <button class="btn btn-theme btn-block" type="submit" id="loginbtn">
                                 <i class="fa fa-lock"></i> SIGN IN
                                </button>
                            <br />
                        </div>
                    }
            </div>
        </div>
        </div>



    <script>
        //$(function () {
        //    $("#loginbtn").click(function (e) {
        //        e.preventDefault();
        //        $.post("/Home/Index").$("#loginform").serialize(), function () {
        //            // success, redirect now
        //            alert("Hey be brave!");
        //        };
        //    });
        //});
    </script>
</body>