﻿@model SMSUI.ViewModels.DemographicInfoViewModel

<div id="demographicInfoModal" class="form-modal">
    <div class="modal-header">
        
        <h5 class="modal-title" style="align-self: center">Demographic Information</h5>
    </div>

    @using (Ajax.BeginForm("SaveDemographicInfo", "Home", new AjaxOptions { UpdateTargetId = "DemographicInfoId", InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }))
    {
        
        
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.DemographicInfoId)
                <div class="form-group">
                    
                        @Html.LabelFor(model => model.Sex, "Sex:", new { @class = "col-sm-1  control-label" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(model => model.Sex, new { @class = "form-control", @id = "demographicInfoSex", @autofocus = "true", @style = "text-align: left" })
                        </div>
                        @Html.LabelFor(model => model.BloodGroup, "Blood Group:", new { @class = "col-sm-1  control-label" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(model => model.BloodGroup, new { @class = "form-control", @id = "demographicInfoBloodGroup", @autofocus = "true", @style = "text-align: left" })
                        </div>
                  </div>  
                <div class="form-group">

                    @Html.LabelFor(model => model.Religion, "Religion:", new { @class = "col-sm-1  control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.Religion, new { @class = "form-control", @id = "demographicInfoReligion", @autofocus = "true", @style = "text-align: left" })
                    </div>

                        @Html.LabelFor(model => model.Nationality, "Nationality:", new { @class = "col-sm-1 control-label" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control", @id = "demographicInfoNationality", @autofocus = "true", @style = "text-align: left;" })
                        </div>
                        @Html.LabelFor(model => model.PlaceOfBirth, "Birth Place:", new { @class = "col-sm-1 control-label" })
                        <div class="col-sm-5">
                            @Html.TextBoxFor(model => model.PlaceOfBirth, new { @class = "form-control", @id = "demographicInfoPlaceOfBirth", @autofocus = "true", @style = "text-align: left;" })
                        </div>
                    </div>
                </div>
                
            </div>
        
        
        <div class="modal-footer centered">
            <input class="save-btn" type="submit" value="Save" />
            <button class="cancel-btn popup-modal-dismiss" type="button">Cancel</button>
        </div>
    }
</div>