﻿@using SMSUI.ViewModels
@model IEnumerable<AccountsViewModel>

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
    var test = ViewBag.loggedinUser;
}

<div id=""></div>
<h2>@Model.FirstOrDefault().LastLogin and your role @Model.FirstOrDefault().RoleId</h2>

