﻿@model IList<SMSUI.ViewModels.AddressViewModel>

<table class="table table-responsive" style="margin-bottom: 2px">
    <thead>
        <tr>
            <th><i class="fa fa-bullhorn"></i> City</th>
            <th>Sub City</th>
            <th>Kebele</th>
            <th>Street Name </th>
            <th>Phone No.</th>
            <th>Mobile No. </th>
            <th>Email</th>
            <th><i class=" fa fa-edit"></i> Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schoolAddress in Model)
        {

            <tr>
                <td>@schoolAddress.City</td>
                <td>@schoolAddress.SubCity</td>
                <td>@schoolAddress.Kebele</td>
                <td>@schoolAddress.StreetName </td>
                <td>@schoolAddress.OfficePhone</td>
                <td>@schoolAddress.MobilePhone</td>
                <td>@schoolAddress.Email </td>
                <td>
                    @if (@schoolAddress.IsActive)
                    {
                        <i class="fa fa-check sm" style="align-content: center"></i>
                    }
                    else if (@schoolAddress.AddressId != 0)
                    {
                        <i class="fa li_lock sm centered"></i>
                    }
                </td>
                @if (Model.Any() && @schoolAddress.AddressId != 0)
                {
                <td>

                    @* @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "Edit", "_AddressPartialView", "School", routeValues: new { @addressId = @schoolAddress.AddressId, ViewBag.targetdivId }, htmlAttributes: new { data_modal = "" })*@
                    <a href=@Url.Action("_AddressModal", "Modals", @schoolAddress.AddressId) class="open-form-modal"><i title="Edit" class="li_tag"></i></a>
                    @*<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>*@
                </td>
                }
            </tr>
        }
    </tbody>
</table>


