﻿@using SMSUI.Helpers
@model IList<SMSUI.ViewModels.ContactPersonViewModel>

@*@using (Ajax.BeginForm("_ContactPersonPlugin", "Home", new AjaxOptions { UpdateTargetId = "contactPersonPluginId", InsertionMode = InsertionMode.Replace }))
    {*@
<div style="margin-left: 10px; margin-right: 10px">
    <table class="table table-responsive" style="padding-bottom: 0px;margin-bottom: 2px">
        <thead>
            <tr>
                <th>Relationship</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Gender</th>
                <th>JobTitle</th>
                <th>IsParent</th>
                <th><i class=" fa fa-edit"></i> Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contactPerson in Model)
            {
                <tr>
                    <td>@contactPerson.Relationship</td>
                    <td>@contactPerson.FirstName</td>
                    <td>@contactPerson.MiddleName</td>
                    <td>@contactPerson.Sex</td>
                    <td>@contactPerson.JobTitle </td>
                    <td>@contactPerson.IsParent</td>
                    <td>
                        @if (@contactPerson.IsActive)
                        {
                            <i class="fa fa-check sm" style="align-content: center"></i>
                        }
                        else
                        {
                            <i class="fa li_lock sm centered"></i>
                        }
                    </td>

                    <td>
                        @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "Edit", "_ContactPersonModalView", "Home", routeValues: new { @addressId = @contactPerson.ContactPersonId }, htmlAttributes: new { data_modal = "" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.NoEncodeActionLink("<span style='font-size: 15px; color: darkslategray;'><i class='li_tag'></i> Add New </span>", "Edit", "_ContactPersonModalView", "Home", htmlAttributes: new { data_modal = "" })
    </div>
</div>
