﻿@using SMSUI.ViewModels
@model ContactPersonViewModel

<link href="~/Content/css/style.css" rel="stylesheet">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5 class="modal-title" style="align-content: center;" id="smsAddressModalLabel">Add new Address</h5>
</div>


@using (Ajax.BeginForm("_ContactPersonModalViewPost", "Home", new { @targetdivId = ViewBag.targetdivId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }, new { @targetdivId = ViewBag.targetdivId }))
{
    <div class="modal-body" style="padding-bottom: 2px">

        <div class="form-horizontal" style="padding-bottom: 0;padding-top: 0">
            @Html.HiddenFor(model => model.ContactPersonId)
           
            <div class="form-group" style="display:inline">
                <!--Relationship-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 95px; padding-left: 0px; padding-right: 0px; height: 25px;">
                        @Html.LabelFor(model => model.Relationship, "Relationship :", new { @class = "control-label",@style="width: 98px;" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Relationship, new { @class = "form-control", @id = "txtContactPersonRelationship", @autofocus = "true", @style = "height: 34px; width: 316px" })
                    </div>
              </div>
                <!--Contact Person First Name-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.FirstName, "First Name :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "txtContactPersonFirstName", @style = "height: 34px;" })
                    </div>
                </div>
            </div>
         
            <div class="form-group">
                <!--Is Parent-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.IsParent, "IsParent :", new { @class = "control-label " })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.IsParent, new { @class = "form-control", @id = "txtContactPersonIsParent", @autofocus = "true", @style = "height: 34px;" })
                    </div>
                </div>
                <!--Middle Name-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.MiddleName, "Middle Name :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @id = "txtContactPersonMiddleName", @style = "height: 34px; width: 306px" })
                    </div>
                </div>
            </div>
         
            <div class="form-group">
                <!--JobTitle-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.JobTitle, "Job Title :", new { @class = "control-label " })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control", @id = "txtContactPersonJobTitle", @autofocus = "true", @style = "height: 34px;" })
                    </div>
                </div>
                <!--Last Name-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.LastName, "Last Name :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "txtContactPersonLastName", @style = "height: 34px; width: 306px" })
                    </div>
                </div>
            </div>
         
            <div class="form-group">
                <!--Sex-->
                <div class="col-sm-6">
                    <div class="col-sm-4" style="width: 110px">
                        @Html.LabelFor(model => model.Sex, "Status :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" id="lkStudentLevelType">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(true)
        </div>
    </div>

    <div class="modal-footer centered">
        <input class="btn btn-theme03" type="submit" value="Save" style="height: 35px; width: 76px; padding-top: 5px;padding-bottom: 5px"  />
        <button class="btn btn-theme04" type="button" data-dismiss="modal" style="height: 35px; width: 86px; padding-top: 5px;padding-bottom: 5px">Cancel</button>
    </div>

}
