﻿
@using SMSUI.Helpers
@model SMSUI.ViewModels.DemographicInfoViewModel


<table class="table table-responsive">
    <thead>
        <tr>
            <th><i class="fa fa-bullhorn"></i> Sex</th>
            <th>Date of Birth</th>
            <th>Place of Birth</th>
            <th> Nationality</th>
            <th>Age</th>
            <th>Height</th>
            <th>Length</th>
            <th>Weight</th>
            <th>BloodGroup</th>
            <th>Religion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DemographicInfoId != 0)
        {
             <tr>
            <td>@Model.Sex</td>
            <td>@Model.DateOfBirth</td>
            <td>@Model.PlaceOfBirth</td>
            <td>@Model.Nationality </td>
            <td>@Model.Age</td>
            <td>@Model.Height</td>
            <td>@Model.Length</td>
            <td>@Model.Weight</td>
            <td>@Model.BloodGroup </td>
                 <td>@Model.Religion</td>
                 @if ( @Model.DemographicInfoId != 0)
                 {
                     <td>
                         @Html.NoEncodeActionLink("<span class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></span>", "_DemographicInfo", "_DemographicInfo", "home", new { @DemographicInfoId = @Model.DemographicInfoId, ViewBag.targetdivId }, htmlAttributes: new { data_modal = "" })
                         <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                     </td>
                 }
        </tr>
        }
       
    </tbody>
</table>

