﻿ @using SMSUI.ViewModels;
@model LoggedInUserViewModel
@{
    ViewBag.Title = "SMS";
}
@if (!Request.IsAuthenticated)
{    
    
        <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="Right" data-original-title="SMS Menu"></div>
        </div>
        <a href="#" class="logo"><b>SMS</b></a>

        <!-- NOTIFICATIONS -->
        <div class="nav notify-row" id="top_menu">
            <ul class="nav top-menu">
                <li id="header_inbox_bar">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">@Model.Notifications.Count(s=>s.seen == false)</span>
                    </a>
                    <ul class="dropdown-menu extended inbox notify-arrow-green">
                        <li><div class="notify-arrow notify-arrow-green"></div>
                        </li>
                        @if (@Model.Notifications.Count() != 0)
                        { 
                            <li>
                                <p class="green">you have @Model.Notifications.Count(s => s.seen == false) new messages!</p>
                            </li>
                            foreach (var message in Model.Notifications)
                            {
                               if(!message.seen)
                                {
                                    <li>
                                    <a href="@Url.Action("MailDetail", "Announcement", new { @userAnnouncementID = message.AnnouncementID,@context="Inbox" })">
                                        <span class="photo"><img alt="avator" src="@message.Path" /></span>
                                        <span class="from">@message.From</span>
                                        <span class="time">@message.TimeAgo</span>
                                        <span class="message" style="text-wrap: normal">@message.Message</span>
                                    </a>
                                </li>
                                }
                               else
                               {
                                <li style="background-color: beige;">
                                    <a href="@Url.Action("MailDetail", "Announcement", new { @userAnnouncementID = message.AnnouncementID,@context="Inbox" })">
                                        <span class="photo"><img alt="avator" src="@message.Path" /></span>
                                        <span class="from">@message.From</span>
                                        <span class="time">@message.TimeAgo</span>
                                        <span class="message" style="text-wrap: normal">@message.Message</span>
                                    </a>
                                </li>
                               }
                            }
                        }
                        else
                        {
                            <li>
                                <p class="green">you have no new messages!</p>
                            </li>
                        }
       
                    </ul>
                </li>
            </ul>
        </div>       
        <!-- NOTIFICATIONS -->

        <!--HEADER INFORMATION-->
        <div class="top-menu" id="replacetarget">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" style="font-size:x-large; background-color:transparent"></i>
                        <span>@Model.UserName</span>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu extended inbox-head">
                        <li>
                            @Html.ActionLink(" Lock", "_LockScreen", "Home", null, new { @class = "fa fa-lock fa-fw", @style = "text-align:left" })
                        </li>
                        <li>
                            @Html.ActionLink(" User Profile", "MyProfile", "Home", null, new { @class = "fa fa-user fa-fw", @style = "text-align:left" })
                        </li>
                        <li>
                            @Html.ActionLink(" Logout", "_LoginPartial", "Home", null, new { @class = "fa fa-sign-out fa-fw", @style = "text-align:left" })
                        </li>
                    </ul>
                    <!-- end dropdown-user -->

            </ul>
        </div>        
        <!--HEADER INFORMATION-->

    </header>
    <!--header end-->
    }
else
{
    ViewBag.Title = "Please login!";
    <h1> false user!</h1>
}
