﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>SMS</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/lineicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/to-do.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/chosen.min.css">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">   
     <!-- DATA TABLES -->
    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!--AdminLTE Css-->
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.css" rel="stylesheet" />

    <!--WIZARD -->
        <link href="~/Content/css/wizard/gsdk-base.css" rel="stylesheet" />
        <link href="~/Content/css/magnific-popup.css" rel="stylesheet">

        <!--WORKFLOW CSS-->
        <link href="~/Content/css/SMS/smsui.css" rel="stylesheet">
        <link href="~/Content/css/SMS/school-setting.css" rel="stylesheet">
        <link href="~/Content/css/SMS/teacher.css" rel="stylesheet">
        <link href="~/Content/css/SMS/attendance.css" rel="stylesheet">
        <link href="~/Content/css/SMS/class-schedule.css" rel="stylesheet">

</head>

<body>
    <section id="container">
        @RenderBody();
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2015 - Ethiopian SMS
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>




    <!-- js placed at the end of the document so the pages load faster -->

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Content/js/jquery.dcjqaccordion.2.7.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.sparkline.js"></script>
    <script src="~/Content/js/chosen.jquery.min.js"></script>

    <!--common script for all pages-->
    <script src="~/Content/js/common-scripts.js"></script>

    <script type="text/javascript" src="~/Content/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/Content/js/gritter-conf.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
   
    <!--script for this page-->
    <script src="~/Content/js/sparkline-chart.js"></script>
    <script src="~/Content/js/zabuto_calendar.js"></script>
    
    <!--   WIZARD plugins 	 -->
    <script src="~/Content/js/wizard/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="~/Content/js/wizard/wizard.js"></script>
    

    <!--Form Validation Purpose-->
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.validate.bootstrap.popover.min.js"></script>
    <script src="~/Content/js/jquery.validate.bootstrap.popover.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/js/chart-master/Chart.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/Content/js/tasks.js" type="text/javascript"></script>
    
    <!--WORKFLOW JS-->
    <script src="~/Content/js/SMS/smsui.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/admission.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/exam.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/mystudents.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/announcement.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/attendance.js" type="text/javascript"></script>
    <script src="~/Content/js/SMS/class-schedule.js" type="text/javascript"></script>
</body>
</html>
