﻿@using SMSUI.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    LoggedInUserViewModel model = ViewBag.loggedinUser;
}
    <!--header>           
        @Html.Partial("_Header",  model)
    <!--sidebar-->
    <aside>            
        @Html.Partial("_SideBarMenus", model);
    </aside>
      
<body>
    @RenderBody();
</body>