﻿@model SMSUI.ViewModels.LoggedInUserViewModel

    <!--sidebar start-->  
<div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered">
            <a href="#"><img src="~/Content/img/ui-sam.jpg" class="img-circle" width="60" /></a>
        </p>
        <h5 class="centered"> SMS </h5>

        @foreach (var menugroup in Model.MenuGroups)
        {
            if (menugroup.Menus.Any())
            {
               <li class="sub-menu">
                 <a href="javascript:;"><i class="@menugroup.Icon"></i><span>@menugroup.Name</span></a>
                   @foreach (var menu in @menugroup.Menus)
                   {
                       var route = menu.URL.Split('/');
                       if (route.Length > 3)
                        {
                           var area = route[0];
                           var controller = route[2];
                           var action = route[3];

                           <ul class="sub">
                               <li><a href="@Url.Action(@action, @controller, new {Area = @area})"><i class="@menu.Icon"></i>@menu.Name</a></li>
                           </ul>
                       }
                       else
                       {
                           <ul class="sub">
                               <li><a href="#"><i class="@menu.Icon"></i>@menu.Name</a></li>
                           </ul>
                       }

                   }

              </li>
            }
            else
            {
                <li class="sub-menu">
                    <a class="active" href="#"><i class="@menugroup.Icon"></i><span>@menugroup.Name</span></a>
                </li>
            }
        }
   
    </ul>
</div>
<!--sidebar end-->