﻿@model SMSUI.ViewModels.ClassSchedule.ClassScheduleInfoViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content">
    <section class="wrapper">
        <div class="wizard-card" style="min-height: 300px;">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="lkClassScheduleGradeLevels">Grade Level </label>
                    <select id="lkClassScheduleGradeLevels" class="form-control">
                        <option value="" disabled selected style="display: none;">Select Grade Level</option>
                        @foreach (var cl in @Model.GradeLevels)
                        {
                            <option value=@cl.GradeLevelId>@cl.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lkClassScheduleClasses">Class </label>
                    <select id="lkClassScheduleClasses" class="form-control">
                        <option value="" disabled selected style="display: none;">Select Classes</option>
                    </select> 
                </div>
                <input type="button" class="pull-right btn" hidden id="btnRefreshClassSchedule" value="Refresh"/>
            </form>

            <div class="row page-container">

                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">Subjects</h4>
                        </div>
                        <div class="box-body">
                            <!-- subjects -->
                            <div id='draggable-subjects'></div>
                        </div><!-- /.box-body -->

                    </div><!-- /. box -->
                    <input id="btnSaveClassSchedule" hidden class="save-btn" type="button" value="Save" />
        </div><!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <!-- THE CALENDAR -->
                            <table id="scheduleTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th >No.</th>
                                        <th class="droppable-header">Moday</th>
                                        <th class="droppable-header">Tuesday</th>
                                        <th class="droppable-header">Wednesday</th>
                                        <th class="droppable-header">Thursday</th>
                                        <th class="droppable-header">Friday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < 6;i+=0)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            @for (var j = 0; j < 5; j++)
                                            {
                                                <td class="droppable"></td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /. box -->
                </div><!-- /.col -->
                <label id="lblClassScheduleValidation"></label>
            </div>
        </div>
    </section>
</section>
