﻿@model  IList<SMSUI.ViewModels.Teacher.GradeReport.StudentExamResultViewModel>
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content" style="">
    <section class="wrapper" style="overflow: hidden">

        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">
                <div style="padding-left: 30px; padding-top:0 ">
                    <div class="panel panel-info" style="width: 300px; align-self: center;">
                        <div style="padding-left: 5px">
                            @{
                                var sample = Model.FirstOrDefault();
                                <h5><strong>Class: </strong> @sample.ClassViewModel.Name</h5>

                                <h5><strong>Teacher: </strong> @sample.TeacherFullName</h5>

                                <h5><strong>Subject: </strong> @sample.SubjectViewModel.Name</h5>
                            }
                        </div>
                    </div>
                </div>
                <div style="padding-left: 30px; padding-top: 0">

                    <table class="table table-bordered table-striped" id="teachersTable" style="margin-top: 5px;width: 500px; align-self: center;">
                        <thead>
                            <tr>
                                <th>ID Number</th>
                                <th class="hidden-phone">
                                    <i class="fa fa-eye"></i>
                                    Student
                                </th>
                                <th>Result (100)</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var st in Model)
                            {
                                <tr>
                                    <td>@st.StudentIDNumber</td>
                                    <td>@st.StudentFullName</td>
                                    <td>@st.Mark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row pull-right centered" style="padding-right: 30px; margin-top: 100px">
                    
                    <button id="ConfirmExamResult" class="btn btn-sm btn-success">Confirm</button>
                    <a href="@Url.Action("SubmissionStatus", "GradeReport")" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
    </section>
</section>
<script language="javascript" src="~\Content/js/jquery-1.8.3.min.js"></script>
<script>
    function ConfirmExamResult() {
        $.ajax({
            url: 'ConfirmExamResult',
            data: 'StudentResultID = 12 , IsConfrimed = true',
            contentType: 'application/json',
            type: 'POST',
            success: function (response) {
                alert(response.message);
            },
            error: function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText || xhr.responseText || errorType;
                alert(errorMessage);
            }
        });
    }
    

    //$('#ConfirmExamResult').on('click',ConfirmExamResult());
    

 

</script>