﻿@using SMSUI.Helpers
@model  SMSUI.ViewModels.Teacher.GradeReport.GradeReportPageViewModel

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content">
    <section class="wrapper" style="overflow:hidden">

        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 600px;">
                <div class="panel panel-default" style="margin-top: 10px;">
                    <div class="panel-heading centered">
                        <p><strong> @Model.TermViewModel.Name</strong> Grade Report for <strong> @Model.ClassViewModel.Name</strong></p>
                    </div>
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Std IDNumber</th>
                                <th>Student</th>
                                <th>Biology</th>
                                <th>Chemistry</th>
                                <th>Maths</th>
                                <th>Absence</th>
                                <th>Total</th>
                                <th>Rank</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in @Model.GradeReportViewModels)
                            {
                                <tr>
                                    <td>@result.StudentBatchViewModel.StudentViewModel.IdNumber</td>
                                    <td>@result.StudentBatchViewModel.StudentViewModel.StudentFullName</td>
                                    <td>@result.Biology</td>

                                    <td>
                                        @result.Chemistry
                                    </td>
                                    <td>
                                        @result.Maths
                                    </td>
                                    <td>
                                        NA
                                    </td>
                                    <td>
                                        @result.Total
                                    </td>
                                    <td>
                                        @result.Rank
                                    </td>
                                    <td>
                                        @Html.NoEncodeActionLink("<span class='btn btn-primary btn-sm'><i class='fa fa-pencil'></i></span>", "StudentGrade", "StudentGradeReport", "GradeReport", routeValues: new { @studentId = @result.StudentBatchViewModel.StudentID })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="row pull-right centered" style="padding-right: 30px;">
                    <a href="@Url.Action("SubmissionStatus","GradeReport")" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>

    </section>
</section>