﻿@model SMSUI.ViewModels.Teacher.GradeReport.StudentGradeReportPageViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content">
    <section class="wrapper" style="overflow:hidden">

        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">

                <div class="row">

                    <div class="col-md-6 pull-left">

                        <div style="padding-left: 30px; padding-top:0 ">
                            <div class="panel panel-info" style="width: 400px; align-self: center;">
                                <div class="centered" style="padding-left: 5px; align-content: center ">
                                    @{
                                        <h4> <span style="font-size: 20px; font-weight: 700; color: #2CA8FF"></span> Report Card</h4>
                                        
                                        <h4><strong>School: </strong><img src="@Model.School.SchoolLogoPath" />   @Model.School.SchoolName </h4>
                                        <h4><strong>Class: </strong> @Model.Class</h4>
                                        <h5><strong>Academic Year: </strong> @Model.Year</h5>
                                    }
                                </div>
                                <div class="list-group" style="padding-left: 5px;">
                                    <ul class="list-group-item"><p class="centered" style="font-size: 15px;font-weight: 700"><i class="glyphicon glyphicon-user"></i> @Model.StudentGradeReportViewModel.Student</p>  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-book"></i> Biology: &nbsp;&nbsp;&nbsp;&nbsp;   <span   style="padding-left: 10px;font-weight: 600"> @Model.StudentGradeReportViewModel.Biology </span> </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-book"></i> Chemistry: &nbsp; <span style="padding-left: 5px"> @Model.StudentGradeReportViewModel.Chemistry </span> </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-book"></i> Maths:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span style="padding-left: 5px"> @Model.StudentGradeReportViewModel.Maths </span> </ul>
                                    
                                    <ul class="list-group-item"><i class="glyphicon "></i><strong>  Total:</strong> <span style="padding-left: 5px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.StudentGradeReportViewModel.Total </span> </ul>
                                    <ul class="list-group-item"><i class=""></i><strong style="font-size: 20px;">Rank:  <i class="badge badge-green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.StudentGradeReportViewModel.Rank / 40</i></strong>   </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6 pull-right" >

                        <div style="">
                            <div class="panel panel-info" style="width: 300px; align-self: center;">
                               <div class="list-group" style="padding-left: 5px;">
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-user"></i> Student: @Model.StudentGradeReportViewModel.Student  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-minus"></i> Biology: @Model.StudentGradeReportViewModel.Biology  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-minus"></i> Chemistry: @Model.StudentGradeReportViewModel.Chemistry  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-minus"></i> Maths: @Model.StudentGradeReportViewModel.Maths  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-minus"></i> Total: @Model.StudentGradeReportViewModel.Total  </ul>
                                    <ul class="list-group-item"><i class="glyphicon glyphicon-minus"></i> Rank: @Model.StudentGradeReportViewModel.Rank / 40 </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@

                </div>

                <div class="row pull-right centered" style="padding-right: 30px;">
                    <a href="@Url.Action("GetGradeReport", "GradeReport")" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                    
                </div>
            </div>
        </div>

    </section>
</section>
}
