﻿@using System.Diagnostics
@using SMSUI.Helpers
@model  IEnumerable<SMSUI.ViewModels.Teacher.StudentResultViewModel>

@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<section id="main-content">
    <section class="wrapper" style="overflow:hidden">

        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-orange" id="" style="min-height: 550px;">
                <div style="margin:1px 30px 30px 30px">
                    <div id="" class="panel panel-info" style="width: 500px; align-self: center;">
                        <div class="centered" style="padding-left: 5px; align-content: center ">
                            @{
                                var sample = Model.FirstOrDefault();
                                <h6>
                                    <span style="font-size: 20px; font-weight: 700; color: #2CA8FF"></span>
                                    Class: 
                                    @{
                                        Debug.Assert(sample != null, "sample != null");
                                    }
                                    @sample.Class.Name &nbsp;&nbsp; Supervisor: @sample.Teacher.FullName
                                </h6>
                                }

                        </div>
                    </div>
                    <table id="btnShowGradeReport" class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID Number</th>
                                <th>Teacher</th>
                                <th>Subject</th>
                                <th>Submission Date</th>
                                <th>Confirmed</th>
                                <th>Confirmation Date</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in @Model)
                            {
                                <tr>
                                    <td> @result.Teacher.IdNumber</td>
                                    <td>@result.Teacher.FullName</td>
                                    <td>@result.Subject.Name</td>
                                    <td>@result.SubmissionDate</td>

                                    <td>
                                        @if (@result.IsConfirmed)
                                        { <button class="btn btn-success btn-xs" disabled="disabled"><i class="fa fa-check"></i></button>}
                                        else
                                        {<button class="btn btn-danger btn-xs" disabled="disabled"><i class="fa li_lock"></i></button>}
                                    </td>
                                    <td>
                                        @result.ConfirmationDate
                                    </td>

                                    <td>
                                        @Html.NoEncodeActionLink("<span class='btn btn-default btn-sm'><i class='fa fa-pencil'></i></span>", "ExamResult", "GetExamResults", "GradeReport", new {@result.Class.ClassId })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="GradeReport" class="btn btn-lg center-block" style="">
                        <a href="@Url.Action("GetGradeReport","GradeReport")" class="btn btn-lg btn-info" style="color: Black"><i class="fa fa-mortar-board"></i> Go To Grade Report</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
</section>
}
<script language="javascript" src="~\Content/js/jquery-1.8.3.min.js"></script>
<script>
    var showGReportButton = function () {
        $('#btnShowGradeReport').show();
    };
    $("#GradeReport").on('click', showGReportButton());
</script>