﻿@model List<SMSUI.ViewModels.Announcement.AnnouncementViewModel>
@{
    var context = (Model.Any(m => m.To != null) && Model.Any(m => m.To.Length > 1)) ? "Sent" : "Inbox";
}

<div class="col-md-9 col-sm-8">
    <div class="table-responsive table-hover">
        <!-- THE MESSAGES -->
        <label>Status</label>
        <table class="table">
            @foreach (var message in Model)
            {
                if (!message.IsSeen)
                {
                 <tr style="color: #424A5D;">
                    <td><i class="fa fa-star"></i></td>
                    <td>@message.From</td>
                    <td><a href="@Url.Action("MailDetail", new { @userAnnouncementID=message.AnnouncementID, context })" style="color: #424A5D;">@message.Subject</a></td>
                    <td>@message.Date</td>
                </tr>
                }
                else
                {
                <tr style="color: darkgrey;">
                    <td><i class="fa fa-star-o"></i></td>
                    <td>@message.From</td>
                    <td><a href="@Url.Action("MailDetail", new { @userAnnouncementID = message.AnnouncementID, context })" style="color: darkgrey;">@message.Subject</a></td>
                    <td>@message.Date<td>
                 </tr>
                }
            }
        </table>
    </div>
</div>
<div class="clearfix">
    <div class="pull-right">
        <small>Showing 1-@Model.Count</small>
        <button class="btn btn-xs" style="border-color: #82E6F4"><i class="fa fa-caret-left"></i></button>
        <button class="btn btn-xs" style="border-color: #82E6F4"><i class="fa fa-caret-right"></i></button>
    </div>
</div>