﻿@model SMSUI.ViewModels.Announcement.ComposeMailViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}
<body>
    <section id="main-content">
        <section class="wrapper">
            <div class="wizard-card" style="min-height: 750px; padding-left: 30px;padding-right: 20px">
                
                <!--FILTER AREA-->
                <div class="col-lg-12">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 form-panel" style="border-style:none; padding-bottom: 50px;height: 60px">
                        <div class="form-group">
                            <label class="control-label" for="lkQuickEmailGroups">To : </label>
                            <select id="lkQuickEmailGroups" data-placeholder="Select Student" multiple="" class="chosen-select" style="width: 700px; height: 30px; ">
                                @foreach (var role in Model.RoleViewModels)
                                {
                                    <option value="@role.RoleID">@role.Name</option>
                                }
                            </select>
                            <a class="btn" id="btnEmailGroupsGo">Go <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
               

                <!--Main Body!-->
                <div class="col-lg-12">
                    <div class="col-lg-2 pull-left"></div>
                    <div class="col-lg-8">
                        <!-- QUICK SMS Email Widget -->
                        <div class="col-lg-12">

                            <div>
                                <h3><i class="fa fa-envelope "></i> Quick Email</h3>
                            </div>
                            <div>
                                <div class="form-group">
                                    <input type="text" id="txtComposeEmailSubject" class="form-control" name="subject" placeholder="Subject" />
                                </div>
                                <div>
                                    <textarea class="textarea" id="txtAreaComposeEmailMessage" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="clearfix pull-right">
                                <button class="pull-right btn btn-default" id="ComposeEmailSendEmail" style="border:none">Send <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--List Of Email Supposed-->
                <div class="col-lg-12">
                    <table id="composeEmailGrid" class="dataGrid table table-bordered table-striped  table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <td class="small-col"><input type="checkbox"/> Check All</td>
                                <th>First Name</th> 
                                <th>Middle Name</th>
                                <th>User Name</th>
                                <th>Role</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </section>
</body>