﻿@using SMSUI.Controllers
@using SMSUI.ViewModels.Announcement
@model IntranetAnnouncementInformationViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<body>
    <section id="main-content">
        <section class="wrapper">
            <div class="wizard-card" style="min-height: 300px; padding-left: 30px;padding-right: 20px">

                    <div>
                        <h3 class="centered" style="font-size: 40px; font-family: 'Calibri Light';"><i class="li_mail"></i> SMS <span style="font-size: 30px; font-family: 'Calibri Light';">Mail</span></h3>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4" style="margin-top: 15px;">

                            <!-- Compose Message -->
                            <div>
                                <a href="@Url.Action("ComposeMail","Announcement")" class="btn btn-block" style="border-color: transparent; color: black;"><i class="fa fa-pencil fa-2x" style="color: black; "></i> Compose</a>
                            </div>

                            <!-- Navigation - Mail-->
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li id="announcementInboxID"  style="background: #82E6F4; border-color: #82E6F4; border-radius: 5px; "><a style="background: transparent; color: black; border-color: #68dff0; border-radius: 5px;"><i class="fa fa-inbox"></i> Inbox (@Model.InBoxMails)</a></li>
                                    <li id="announcementSentID"><a style="background: transparent; color: black; border-color: #82e6f4; border-radius: 5px; "><i class=" fa fa-mail-forward"></i> Sent</a></li>
                                    <li><a href="#" style="color: black; border-color: #82E6F4;border-radius: 5px;"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
                                    <li><a href="#" style="color: black; border-color: #82E6F4; border-radius: 5px; "><i class="li_note"></i> Junk</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="divAnnouncementMailGrid">
                            @{
                                Html.RenderPartial("_Mail", Model.Announcements);
                            }
                        </div>
                    </div>

                </div>

        </section>
    </section>
</body>



