﻿@using SMSUI.ViewModels.Announcement
@model MailDetailViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<section id="main-content">
    <section class="wrapper">

        <div class="wizard-card" style="min-height: 300px; padding-left: 30px;padding-right: 20px">
            <div><h3 class="centered" style="font-size: 40px; font-family: 'Calibri Light';"><i class="li_mail"></i> SMS <span style="font-size: 30px; font-family: 'Calibri Light';">Mail</span></h3></div>
            <div>
                <div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4" style="margin-top: 15px;">
                            <!-- compose message btn -->
                            <div>
                                <a class="btn btn-block" style="border-color: transparent; color: black;"><i class="fa fa-pencil fa-2x" style="color: black; "></i> Compose</a>
                            </div>

                            <!-- Navigation - Mail-->
                            <div style="margin-top: 15px;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li style="background: #82E6F4; border-color: #82E6F4; border-radius: 5px; "><a href="@Url.Action("Index","Announcement")" style="color: black; border-color: #68dff0; border-radius: 5px;"><i class="fa fa-inbox"></i> Inbox (@Model.InBoxMails)</a></li>
                                    <li><a onclick="SentMailFolderClicked()" style="color: black; border-color: #82E6F4; border-radius: 5px; "><i class="fa fa-mail-forward"></i> Sent</a></li>
                                    <li><a href="#" style="color: black; border-color: #82E6F4;border-radius: 5px;"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
                                    <li><a href="#" style="color: black; border-color: #82E6F4; border-radius: 5px; "><i class="li_note"></i> Junk</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <!-- quick email widget -->
                            <div>
                                <div>
                                    <div class="form-group">
                                        <label>From :</label>
                                        <input type="email" class="form-control" style="font-family: 'Calibri Light'; font-size: 15px; line-height: 18px;" name="emailFrom" placeholder="Email From:" value="@Model.AnnouncementViewModel.From" />
                                    </div>                                   
                                     @if (Model.FakeSetting == "Sent")
                                    {
                                        <label>To :</label>
                                       <div class="form-group">
                                           <input type="text" class="form-control" style="font-family: 'Calibri Light'; font-size: 15px; line-height: 18px;" name="EmailTo" placeholder="To:" value="@Model.AnnouncementViewModel.To" />
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label>Subject :</label>
                                        <input type="text" class="form-control" style="font-family: 'Calibri Light'; font-size: 15px; line-height: 18px;" name="subject" placeholder="Subject" value="@Model.AnnouncementViewModel.Subject" />
                                    </div>
                                    <div>
                                        <label>Message :</label>
                                        <textarea placeholder="Message" style="width: 100%; height: 125px; font-family: 'Calibri Light'; font-size: 15px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"> @Model.AnnouncementViewModel.Message</textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="@Url.Action("Index","Announcement")" class="btn" style="border:none"><i class="fa fa-arrow-circle-left"></i> Back</a>
                     </div>
                </div>
            </div>
        </div>
    </section>
</section>