﻿@model SMSUI.ViewModels.Exam.ExamInfoViewModel
@{
    Layout = ("~/Views/Shared/_LoggedInLayout.cshtml");
}

<section id="main-content">
    <section class="wrapper">
        <div class="wizard-card" style="min-height: 300px;">
            <div class="row page-container">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="lkExamClasses">Class </label>
                        <select id="lkExamClasses" class="form-control">
                            <option value="" disabled selected style="display: none;">Select Class</option>
                            @foreach (var cl in @Model.Classes)
                        {
                        <option value=@cl.ClassId>@cl.Name</option>
                        }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lkExamSubjects">Subject </label>
                        <select id="lkExamSubjects" class="form-control">
                            <option value="" disabled selected style="display: none;">Select Subject</option>
                        </select>
                    </div>
                    <a id="btnAddNewExam" class="btn btn-app" style="display: none;"><i class="fa fa-plus"></i> Add New</a>
                </div>
                <!-- Add new Exam Form-->
                <div id="addNewExamForm" class="form-horizontal col-sm-6" hidden>
                    <div class="form-group">
                        <label class="control-label" for="txtExamName">Name </label>
                        <input id="txtExamName" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lkExamType">Exam Type </label>
                        <select id="lkExamType" class="form-control">
                            @foreach (var examType in @Model.ExamTypes)
                        {
                        <option value=@examType.ExamTypeID>@examType.Name</option>
                        }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txtExamMark">Mark </label>
                        <input id="txtExamMark" class="form-control" type="number" />
                    </div>
                    <input id="btnSaveExam" class="btn btn-success" type="button" value="Save" />
                </div>
                <div class="col-md-12">
                    <br />
                    <hr /><h6 style="font-style: inherit; font-family: 'Calibri Light'; text-align: left;">Exam List <br /><br /></h6>
                </div>
                <!--Exam Lists By Subjects-->
                <div hidden>
                    <table id="examsTable" class="table table-bordered table-striped  table-hover">
                        <thead>
                            <tr>
                                <th>ExamID</th>
                                <th>Name</th>
                                <th>Exam Type</th>
                                <th>Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </section>
</section>